Load Crop Dimension

In [88]:
import pandas as pd
import numpy as np
cropDF = pd.read_csv("./datasets/CropDimension.csv")
cropDF

,Crop_ID,Common Name,Species,Family,Minimum Temperature,Maximum Temperature
0,1,Wheat,Triticum,Grass,5,29
1,2,Durum,Triticum,Grass,5,29
2,3,Oats,Avena sativa,Grass,5,28
3,4,Barley,Hordeum,Grass,5,28
4,5,Rye,Secale,Grass,5,34
5,6,Flaxseed,Linum usitatissimum,Linaceae,5,30
6,7,Canola,Brassica napus,Brassicaceae,3,29
7,8,Pea,Pisum sativum,Fabaceae,2,34
8,9,Lentil,Lens culinaris,Fabaceae,4,27

Load alberta crops data

In [89]:
albertaDF = pd.read_csv("./datasets/alberta_main.csv")
# ontarioDF
albertaDF = albertaDF[['REF_DATE', 'GEO', 'Type of grain','VALUE']]
albertaDF['REF_DATE'] = pd.to_datetime(albertaDF['REF_DATE'])
albertaDF.rename(columns={'REF_DATE': 'Date', 'GEO': 'Province', 'VALUE':'Volume','Type of grain':'Product'}, inplace=True)
unique_values = albertaDF['Product'].unique()
print(unique_values)
replace_dict = {'Wheat, excluding durum': 'Wheat','Durum wheat': 'Durum', 'Canola (rapeseed)': 'Canola'}
albertaDF['Product'] = albertaDF['Product'].replace(replace_dict)
albertaDF

['Wheat, excluding durum' 'Durum wheat' 'Oats' 'Barley' 'Rye' 'Flaxseed'
 'Canola (rapeseed)']

           Date Province Product  Volume
0    2001-01-01  Alberta   Wheat  619117
1    2001-02-01  Alberta   Wheat  375113
2    2001-03-01  Alberta   Wheat  309619
3    2001-04-01  Alberta   Wheat  382852
4    2001-05-01  Alberta   Wheat  445880
...         ...      ...     ...     ...
1927 2023-08-01  Alberta  Canola  187881
1928 2023-09-01  Alberta  Canola  545946
1929 2023-10-01  Alberta  Canola  483451
1930 2023-11-01  Alberta  Canola  539209
1931 2023-12-01  Alberta  Canola  298227

[1932 rows x 4 columns]

Load British Columbia crops data

In [90]:
britishcolumbiaDF = pd.read_csv("./datasets/britishcolumbia_main.csv")
# ontarioDF
britishcolumbiaDF = britishcolumbiaDF[['REF_DATE', 'GEO', 'Type of grain','VALUE']]
britishcolumbiaDF['REF_DATE'] = pd.to_datetime(britishcolumbiaDF['REF_DATE'])
britishcolumbiaDF.rename(columns={'REF_DATE': 'Date', 'GEO': 'Province', 'VALUE':'Volume','Type of grain':'Product'}, inplace=True)
unique_values = britishcolumbiaDF['Product'].unique()
print(unique_values)
replace_dict = {'Wheat, excluding durum': 'Wheat','Durum wheat': 'Durum', 'Canola (rapeseed)': 'Canola'}
britishcolumbiaDF['Product'] = britishcolumbiaDF['Product'].replace(replace_dict)
britishcolumbiaDF

['Wheat, excluding durum' 'Durum wheat' 'Oats' 'Barley' 'Rye' 'Flaxseed'
 'Canola (rapeseed)']

           Date          Province Product  Volume
0    2001-01-01  British Columbia   Wheat    9855
1    2001-02-01  British Columbia   Wheat    7041
2    2001-03-01  British Columbia   Wheat    4949
3    2001-04-01  British Columbia   Wheat    3333
4    2001-05-01  British Columbia   Wheat    2654
...         ...               ...     ...     ...
1927 2023-08-01  British Columbia  Canola    1289
1928 2023-09-01  British Columbia  Canola   11373
1929 2023-10-01  British Columbia  Canola    9459
1930 2023-11-01  British Columbia  Canola    5500
1931 2023-12-01  British Columbia  Canola    7828

[1932 rows x 4 columns]

Load Manitoba Crop Data

In [91]:
manitobaDF = pd.read_csv("./datasets/manitoba_main.csv")
# ontarioDF
manitobaDF = manitobaDF[['REF_DATE', 'GEO', 'Type of grain','VALUE']]
manitobaDF['REF_DATE'] = pd.to_datetime(manitobaDF['REF_DATE'])
manitobaDF.rename(columns={'REF_DATE': 'Date', 'GEO': 'Province', 'VALUE':'Volume','Type of grain':'Product'}, inplace=True)
unique_values = manitobaDF['Product'].unique()
print(unique_values)
replace_dict = {'Wheat, excluding durum': 'Wheat','Durum wheat': 'Durum', 'Canola (rapeseed)': 'Canola'}
manitobaDF['Product'] = manitobaDF['Product'].replace(replace_dict)
manitobaDF

['Wheat, excluding durum' 'Durum wheat' 'Oats' 'Barley' 'Rye' 'Flaxseed'
 'Canola (rapeseed)']

           Date  Province Product    Volume
0    2001-01-01  Manitoba   Wheat  312009.0
1    2001-02-01  Manitoba   Wheat  192954.0
2    2001-03-01  Manitoba   Wheat  213051.0
3    2001-04-01  Manitoba   Wheat  287132.0
4    2001-05-01  Manitoba   Wheat  299690.0
...         ...       ...     ...       ...
1927 2023-08-01  Manitoba  Canola  203241.0
1928 2023-09-01  Manitoba  Canola  373157.0
1929 2023-10-01  Manitoba  Canola  259269.0
1930 2023-11-01  Manitoba  Canola  256427.0
1931 2023-12-01  Manitoba  Canola  172290.0

[1932 rows x 4 columns]

Load Ontario crops data

In [92]:
ontarioDF = pd.read_csv("./datasets/ontario_main.csv")
# ontarioDF
ontarioDF = ontarioDF[['REF_DATE', 'GEO', 'Type of grain','VALUE']]
ontarioDF['REF_DATE'] = pd.to_datetime(ontarioDF['REF_DATE'])
ontarioDF.rename(columns={'REF_DATE': 'Date', 'GEO': 'Province', 'VALUE':'Volume','Type of grain':'Product'}, inplace=True)
unique_values = ontarioDF['Product'].unique()
print(unique_values)
replace_dict = {'Wheat, excluding durum': 'Wheat', 'Canola (rapeseed)': 'Canola'}
ontarioDF['Product'] = ontarioDF['Product'].replace(replace_dict)
ontarioDF

['Wheat, excluding durum' 'Oats' 'Barley' 'Canola (rapeseed)']

           Date Province Product    Volume
0    2001-08-01  Ontario   Wheat  332832.0
1    2001-09-01  Ontario   Wheat   71065.0
2    2001-10-01  Ontario   Wheat   24441.0
3    2001-11-01  Ontario   Wheat    9526.0
4    2001-12-01  Ontario   Wheat    7097.0
...         ...      ...     ...       ...
1071 2023-08-01  Ontario  Canola    5764.0
1072 2023-09-01  Ontario  Canola    6931.0
1073 2023-10-01  Ontario  Canola   10605.0
1074 2023-11-01  Ontario  Canola    2127.0
1075 2023-12-01  Ontario  Canola    3438.0

[1076 rows x 4 columns]

Load Quebec crop data

In [93]:
quebecDF = pd.read_csv("./datasets/quebec_main.csv")
# ontarioDF
quebecDF = quebecDF[['REF_DATE', 'GEO', 'Type of grain','VALUE']]
quebecDF['REF_DATE'] = pd.to_datetime(quebecDF['REF_DATE'])
quebecDF.rename(columns={'REF_DATE': 'Date', 'GEO': 'Province', 'VALUE':'Volume','Type of grain':'Product'}, inplace=True)
unique_values = quebecDF['Product'].unique()
print(unique_values)
replace_dict = {'Wheat, excluding durum': 'Wheat','Durum wheat': 'Durum', 'Canola (rapeseed)': 'Canola'}
quebecDF['Product'] = quebecDF['Product'].replace(replace_dict)
quebecDF

['Wheat, excluding durum' 'Oats' 'Barley' 'Canola (rapeseed)']

           Date Province Product  Volume
0    2001-08-01   Quebec   Wheat   710.0
1    2001-09-01   Quebec   Wheat   710.0
2    2001-10-01   Quebec   Wheat   710.0
3    2001-11-01   Quebec   Wheat  1130.0
4    2001-12-01   Quebec   Wheat   710.0
...         ...      ...     ...     ...
1071 2023-08-01   Quebec  Canola   312.0
1072 2023-09-01   Quebec  Canola  2362.0
1073 2023-10-01   Quebec  Canola  7635.0
1074 2023-11-01   Quebec  Canola  3026.0
1075 2023-12-01   Quebec  Canola  1256.0

[1076 rows x 4 columns]

Load Saskatchewan crop data

In [94]:
saskatchewanDF = pd.read_csv("./datasets/saskatchewan_main.csv")
# ontarioDF
saskatchewanDF = saskatchewanDF[['REF_DATE', 'GEO', 'Type of grain','VALUE']]
saskatchewanDF['REF_DATE'] = pd.to_datetime(saskatchewanDF['REF_DATE'])
saskatchewanDF.rename(columns={'REF_DATE': 'Date', 'GEO': 'Province', 'VALUE':'Volume','Type of grain':'Product'}, inplace=True)
unique_values = saskatchewanDF['Product'].unique()
print(unique_values)
replace_dict = {'Wheat, excluding durum': 'Wheat','Durum wheat': 'Durum', 'Canola (rapeseed)': 'Canola'}
saskatchewanDF['Product'] = saskatchewanDF['Product'].replace(replace_dict)
saskatchewanDF

['Wheat, excluding durum' 'Durum wheat' 'Oats' 'Barley' 'Rye' 'Flaxseed'
 'Canola (rapeseed)']

           Date      Province Product  Volume
0    2001-01-01  Saskatchewan   Wheat  785342
1    2001-02-01  Saskatchewan   Wheat  478352
2    2001-03-01  Saskatchewan   Wheat  418005
3    2001-04-01  Saskatchewan   Wheat  432343
4    2001-05-01  Saskatchewan   Wheat  640998
...         ...           ...     ...     ...
1927 2023-08-01  Saskatchewan  Canola  577734
1928 2023-09-01  Saskatchewan  Canola  962474
1929 2023-10-01  Saskatchewan  Canola  734746
1930 2023-11-01  Saskatchewan  Canola  830464
1931 2023-12-01  Saskatchewan  Canola  596491

[1932 rows x 4 columns]

Load Crop Prices

In [95]:
cropPricesDF = pd.read_csv("./datasets/crops_prices.csv")
cropPricesDF = cropPricesDF[['REF_DATE', 'GEO', 'Farm products','VALUE']]
cropPricesDF['REF_DATE'] = pd.to_datetime(cropPricesDF['REF_DATE'])
cropPricesDF.rename(columns={'REF_DATE': 'Date', 'GEO': 'Province', 'VALUE':'Price','Farm products':'Product'}, inplace=True)
replace_dict = {'Wheat (except durum wheat) [1121111]': 'Wheat', 'Rye [1151152]': 'Rye', 'Oats [115113111]': 'Oats', 'Barley [1151141]': 'Barley', 'Canola (including rapeseed) [113111]': 'Canola', 'Durum wheat [112111211]': 'Durum', 'Flaxseed [115122111]': 'Flaxseed'}
cropPricesDF['Product'] = cropPricesDF['Product'].replace(replace_dict)
cropPricesDF

           Date          Province Product   Price
0    2001-01-01            Quebec   Wheat  144.96
1    2001-02-01            Quebec   Wheat  145.04
2    2001-03-01            Quebec   Wheat  137.06
3    2001-04-01            Quebec   Wheat  144.89
4    2001-05-01            Quebec   Wheat  151.40
...         ...               ...     ...     ...
8311 2023-08-01  British Columbia     Rye  325.62
8312 2023-09-01  British Columbia     Rye     NaN
8313 2023-10-01  British Columbia     Rye     NaN
8314 2023-11-01  British Columbia     Rye     NaN
8315 2023-12-01  British Columbia     Rye     NaN

[8316 rows x 4 columns]

In [96]:
dataframes = [quebecDF,ontarioDF,saskatchewanDF,britishcolumbiaDF,ontarioDF,manitobaDF,albertaDF]
mergeColumns = ['Date','Province','Product']
finalVolume_DF = pd.concat(dataframes, ignore_index=True)

cropPricesDF = pd.merge(cropPricesDF, finalVolume_DF, how='left', on=mergeColumns)
#Convert 0 values to NaN for processing
cropPricesDF['Volume'] = cropPricesDF['Volume'].replace(0, np.nan)
cropPricesDF['Price'] = cropPricesDF['Price'].replace(0, np.nan)



# Count NaN values in the 'volume' and 'price' columns
nan_count_volume = cropPricesDF['Volume'].isna().sum()
nan_count_crop_prices = cropPricesDF['Price'].isna().sum()
print(f"Number of NaN values in 'crop_prices': {nan_count_crop_prices}")
print(f"Number of NaN values in 'volume': {nan_count_volume}")


# Drop rows where both price and Volume is NaN
cropPricesDF = cropPricesDF.dropna(subset=['Price', 'Volume'], how='all')

Number of NaN values in 'crop_prices': 707
Number of NaN values in 'volume': 1052

In [97]:
#Incorporate forward and backward fill for missing crop_prices and volume

price_ffill = cropPricesDF['Price'].ffill()


price_bfill = cropPricesDF['Price'].bfill()

# Calculate the mean of ffill and bfill series
mean_fill_series = (price_ffill + price_bfill) / 2
# Calculate global mean for remaining NaN prices
global_mean = cropPricesDF['Price'].mean()


cropPricesDF['Price'] = cropPricesDF['Price'].fillna(mean_fill_series)

cropPricesDF['Price'] = cropPricesDF['Price'].fillna(global_mean)

#Repeat process for Volume
volume_ffill = cropPricesDF['Volume'].ffill()

# Backward fill (bfill) to fill NaNs
volume_bfill = cropPricesDF['Volume'].bfill()

# Calculate the mean of ffill and bfill series
mean_fill_series = (volume_ffill + volume_bfill) / 2
global_mean = cropPricesDF['Volume'].mean()

# Assign the mean of ffill and bfill to NaN values in the original column
cropPricesDF['Volume'] = cropPricesDF['Volume'].fillna(mean_fill_series)

cropPricesDF['Volume'] = cropPricesDF['Volume'].fillna(global_mean)
cropPricesDF

# zero_count_price = (cropPricesDF['Price'] == 0).sum()
# zero_count_volume = (cropPricesDF['Volume'] == 0).sum()
# nan_count_volume = cropPricesDF['Volume'].isna().sum()
# nan_count_crop_prices = cropPricesDF['Price'].isna().sum()
# print(f"Number of NaN values in 'crop_prices': {nan_count_crop_prices}")
# print(f"Number of NaN values in 'volume': {nan_count_volume}")
# print(zero_count_price)
# print(zero_count_volume)

           Date          Province Product    Price        Volume
0    2001-01-01            Quebec   Wheat  144.960  97889.085987
1    2001-02-01            Quebec   Wheat  145.040  97889.085987
2    2001-03-01            Quebec   Wheat  137.060  97889.085987
3    2001-04-01            Quebec   Wheat  144.890  97889.085987
4    2001-05-01            Quebec   Wheat  151.400  97889.085987
...         ...               ...     ...      ...           ...
9113 2023-03-01  British Columbia     Rye  330.420     40.500000
9114 2023-04-01  British Columbia     Rye  321.860     49.000000
9116 2023-06-01  British Columbia     Rye  310.470     27.000000
9117 2023-07-01  British Columbia     Rye  318.045      5.000000
9118 2023-08-01  British Columbia     Rye  325.620  97889.085987

[8776 rows x 5 columns]