Load Crop Dimension

In [14]:
import pandas as pd
import numpy as np
cropDF = pd.read_csv("./datasets/CropDimension.csv")
cropDF

,Crop_ID,Common Name,Species,Family,Minimum Temperature,Maximum Temperature
0,0,Wheat,Triticum,Grass,5,29
1,1,Durum,Triticum,Grass,5,29
2,2,Oats,Avena sativa,Grass,5,28
3,3,Barley,Hordeum,Grass,5,28
4,4,Rye,Secale,Grass,5,34
5,5,Flaxseed,Linum usitatissimum,Linaceae,5,30
6,6,Canola,Brassica napus,Brassicaceae,3,29

Load alberta crops data

In [15]:
albertaDF = pd.read_csv("./datasets/raw/crop_data/alberta_main.csv")
# ontarioDF
albertaDF = albertaDF[['REF_DATE', 'GEO', 'Type of grain','VALUE']]
albertaDF['REF_DATE'] = pd.to_datetime(albertaDF['REF_DATE'])
albertaDF.rename(columns={'REF_DATE': 'Date', 'GEO': 'Province', 'VALUE':'Volume','Type of grain':'Product'}, inplace=True)
unique_values = albertaDF['Product'].unique()
print(unique_values)
replace_dict = {'Wheat, excluding durum': 'Wheat','Durum wheat': 'Durum', 'Canola (rapeseed)': 'Canola'}
albertaDF['Product'] = albertaDF['Product'].replace(replace_dict)
albertaDF

['Wheat, excluding durum' 'Durum wheat' 'Oats' 'Barley' 'Rye' 'Flaxseed'
 'Canola (rapeseed)']

           Date Province Product  Volume
0    2001-01-01  Alberta   Wheat  619117
1    2001-02-01  Alberta   Wheat  375113
2    2001-03-01  Alberta   Wheat  309619
3    2001-04-01  Alberta   Wheat  382852
4    2001-05-01  Alberta   Wheat  445880
...         ...      ...     ...     ...
1927 2023-08-01  Alberta  Canola  187881
1928 2023-09-01  Alberta  Canola  545946
1929 2023-10-01  Alberta  Canola  483451
1930 2023-11-01  Alberta  Canola  539209
1931 2023-12-01  Alberta  Canola  298227

[1932 rows x 4 columns]

Load British Columbia crops data

In [16]:
britishcolumbiaDF = pd.read_csv("./datasets/raw/crop_data/britishcolumbia_main.csv")
# ontarioDF
britishcolumbiaDF = britishcolumbiaDF[['REF_DATE', 'GEO', 'Type of grain','VALUE']]
britishcolumbiaDF['REF_DATE'] = pd.to_datetime(britishcolumbiaDF['REF_DATE'])
britishcolumbiaDF.rename(columns={'REF_DATE': 'Date', 'GEO': 'Province', 'VALUE':'Volume','Type of grain':'Product'}, inplace=True)
unique_values = britishcolumbiaDF['Product'].unique()
print(unique_values)
replace_dict = {'Wheat, excluding durum': 'Wheat','Durum wheat': 'Durum', 'Canola (rapeseed)': 'Canola'}
britishcolumbiaDF['Product'] = britishcolumbiaDF['Product'].replace(replace_dict)
britishcolumbiaDF

['Wheat, excluding durum' 'Durum wheat' 'Oats' 'Barley' 'Rye' 'Flaxseed'
 'Canola (rapeseed)']

           Date          Province Product  Volume
0    2001-01-01  British Columbia   Wheat    9855
1    2001-02-01  British Columbia   Wheat    7041
2    2001-03-01  British Columbia   Wheat    4949
3    2001-04-01  British Columbia   Wheat    3333
4    2001-05-01  British Columbia   Wheat    2654
...         ...               ...     ...     ...
1927 2023-08-01  British Columbia  Canola    1289
1928 2023-09-01  British Columbia  Canola   11373
1929 2023-10-01  British Columbia  Canola    9459
1930 2023-11-01  British Columbia  Canola    5500
1931 2023-12-01  British Columbia  Canola    7828

[1932 rows x 4 columns]

Load Manitoba Crop Data

In [17]:
manitobaDF = pd.read_csv("./datasets/raw/crop_data/manitoba_main.csv")
# ontarioDF
manitobaDF = manitobaDF[['REF_DATE', 'GEO', 'Type of grain','VALUE']]
manitobaDF['REF_DATE'] = pd.to_datetime(manitobaDF['REF_DATE'])
manitobaDF.rename(columns={'REF_DATE': 'Date', 'GEO': 'Province', 'VALUE':'Volume','Type of grain':'Product'}, inplace=True)
unique_values = manitobaDF['Product'].unique()
print(unique_values)
replace_dict = {'Wheat, excluding durum': 'Wheat','Durum wheat': 'Durum', 'Canola (rapeseed)': 'Canola'}
manitobaDF['Product'] = manitobaDF['Product'].replace(replace_dict)
manitobaDF

['Wheat, excluding durum' 'Durum wheat' 'Oats' 'Barley' 'Rye' 'Flaxseed'
 'Canola (rapeseed)']

           Date  Province Product    Volume
0    2001-01-01  Manitoba   Wheat  312009.0
1    2001-02-01  Manitoba   Wheat  192954.0
2    2001-03-01  Manitoba   Wheat  213051.0
3    2001-04-01  Manitoba   Wheat  287132.0
4    2001-05-01  Manitoba   Wheat  299690.0
...         ...       ...     ...       ...
1927 2023-08-01  Manitoba  Canola  203241.0
1928 2023-09-01  Manitoba  Canola  373157.0
1929 2023-10-01  Manitoba  Canola  259269.0
1930 2023-11-01  Manitoba  Canola  256427.0
1931 2023-12-01  Manitoba  Canola  172290.0

[1932 rows x 4 columns]

Load Ontario crops data

In [18]:
ontarioDF = pd.read_csv("./datasets/raw/crop_data/ontario_main.csv")
# ontarioDF
ontarioDF = ontarioDF[['REF_DATE', 'GEO', 'Type of grain','VALUE']]
ontarioDF['REF_DATE'] = pd.to_datetime(ontarioDF['REF_DATE'])
ontarioDF.rename(columns={'REF_DATE': 'Date', 'GEO': 'Province', 'VALUE':'Volume','Type of grain':'Product'}, inplace=True)
unique_values = ontarioDF['Product'].unique()
print(unique_values)
replace_dict = {'Wheat, excluding durum': 'Wheat', 'Canola (rapeseed)': 'Canola'}
ontarioDF['Product'] = ontarioDF['Product'].replace(replace_dict)
ontarioDF

['Wheat, excluding durum' 'Oats' 'Barley' 'Canola (rapeseed)']

           Date Province Product    Volume
0    2001-08-01  Ontario   Wheat  332832.0
1    2001-09-01  Ontario   Wheat   71065.0
2    2001-10-01  Ontario   Wheat   24441.0
3    2001-11-01  Ontario   Wheat    9526.0
4    2001-12-01  Ontario   Wheat    7097.0
...         ...      ...     ...       ...
1071 2023-08-01  Ontario  Canola    5764.0
1072 2023-09-01  Ontario  Canola    6931.0
1073 2023-10-01  Ontario  Canola   10605.0
1074 2023-11-01  Ontario  Canola    2127.0
1075 2023-12-01  Ontario  Canola    3438.0

[1076 rows x 4 columns]

Load Quebec crop data

In [19]:
quebecDF = pd.read_csv("./datasets/raw/crop_data/quebec_main.csv")
# ontarioDF
quebecDF = quebecDF[['REF_DATE', 'GEO', 'Type of grain','VALUE']]
quebecDF['REF_DATE'] = pd.to_datetime(quebecDF['REF_DATE'])
quebecDF.rename(columns={'REF_DATE': 'Date', 'GEO': 'Province', 'VALUE':'Volume','Type of grain':'Product'}, inplace=True)
unique_values = quebecDF['Product'].unique()
print(unique_values)
replace_dict = {'Wheat, excluding durum': 'Wheat','Durum wheat': 'Durum', 'Canola (rapeseed)': 'Canola'}
quebecDF['Product'] = quebecDF['Product'].replace(replace_dict)
quebecDF

['Wheat, excluding durum' 'Oats' 'Barley' 'Canola (rapeseed)']

           Date Province Product  Volume
0    2001-08-01   Quebec   Wheat   710.0
1    2001-09-01   Quebec   Wheat   710.0
2    2001-10-01   Quebec   Wheat   710.0
3    2001-11-01   Quebec   Wheat  1130.0
4    2001-12-01   Quebec   Wheat   710.0
...         ...      ...     ...     ...
1071 2023-08-01   Quebec  Canola   312.0
1072 2023-09-01   Quebec  Canola  2362.0
1073 2023-10-01   Quebec  Canola  7635.0
1074 2023-11-01   Quebec  Canola  3026.0
1075 2023-12-01   Quebec  Canola  1256.0

[1076 rows x 4 columns]

Load Saskatchewan crop data

In [20]:
saskatchewanDF = pd.read_csv("./datasets/raw/crop_data/saskatchewan_main.csv")
# ontarioDF
saskatchewanDF = saskatchewanDF[['REF_DATE', 'GEO', 'Type of grain','VALUE']]
saskatchewanDF['REF_DATE'] = pd.to_datetime(saskatchewanDF['REF_DATE'])
saskatchewanDF.rename(columns={'REF_DATE': 'Date', 'GEO': 'Province', 'VALUE':'Volume','Type of grain':'Product'}, inplace=True)
unique_values = saskatchewanDF['Product'].unique()
print(unique_values)
replace_dict = {'Wheat, excluding durum': 'Wheat','Durum wheat': 'Durum', 'Canola (rapeseed)': 'Canola'}
saskatchewanDF['Product'] = saskatchewanDF['Product'].replace(replace_dict)
saskatchewanDF

['Wheat, excluding durum' 'Durum wheat' 'Oats' 'Barley' 'Rye' 'Flaxseed'
 'Canola (rapeseed)']

           Date      Province Product  Volume
0    2001-01-01  Saskatchewan   Wheat  785342
1    2001-02-01  Saskatchewan   Wheat  478352
2    2001-03-01  Saskatchewan   Wheat  418005
3    2001-04-01  Saskatchewan   Wheat  432343
4    2001-05-01  Saskatchewan   Wheat  640998
...         ...           ...     ...     ...
1927 2023-08-01  Saskatchewan  Canola  577734
1928 2023-09-01  Saskatchewan  Canola  962474
1929 2023-10-01  Saskatchewan  Canola  734746
1930 2023-11-01  Saskatchewan  Canola  830464
1931 2023-12-01  Saskatchewan  Canola  596491

[1932 rows x 4 columns]

Load Crop Prices

In [21]:
cropPricesDF = pd.read_csv("./datasets/raw/crop_data/crops_prices.csv")
cropPricesDF = cropPricesDF[['REF_DATE', 'GEO', 'Farm products','VALUE']]
cropPricesDF['REF_DATE'] = pd.to_datetime(cropPricesDF['REF_DATE'])
cropPricesDF.rename(columns={'REF_DATE': 'Date', 'GEO': 'Province', 'VALUE':'Price','Farm products':'Product'}, inplace=True)
replace_dict = {'Wheat (except durum wheat) [1121111]': 'Wheat', 'Rye [1151152]': 'Rye', 'Oats [115113111]': 'Oats', 'Barley [1151141]': 'Barley', 'Canola (including rapeseed) [113111]': 'Canola', 'Durum wheat [112111211]': 'Durum', 'Flaxseed [115122111]': 'Flaxseed'}
cropPricesDF['Product'] = cropPricesDF['Product'].replace(replace_dict)
cropPricesDF

           Date          Province Product   Price
0    2001-01-01            Quebec   Wheat  144.96
1    2001-02-01            Quebec   Wheat  145.04
2    2001-03-01            Quebec   Wheat  137.06
3    2001-04-01            Quebec   Wheat  144.89
4    2001-05-01            Quebec   Wheat  151.40
...         ...               ...     ...     ...
8311 2023-08-01  British Columbia     Rye  325.62
8312 2023-09-01  British Columbia     Rye     NaN
8313 2023-10-01  British Columbia     Rye     NaN
8314 2023-11-01  British Columbia     Rye     NaN
8315 2023-12-01  British Columbia     Rye     NaN

[8316 rows x 4 columns]

In [22]:
dataframes = [quebecDF,ontarioDF,saskatchewanDF,britishcolumbiaDF,ontarioDF,manitobaDF,albertaDF]
mergeColumns = ['Date','Province','Product']
finalVolume_DF = pd.concat(dataframes, ignore_index=True)
print(len(finalVolume_DF))
cropPricesDF = pd.merge(cropPricesDF, finalVolume_DF, how='left', on=mergeColumns)
#Convert 0 values to NaN for processing
cropPricesDF['Volume'] = cropPricesDF['Volume'].replace(0, np.nan)
cropPricesDF['Price'] = cropPricesDF['Price'].replace(0, np.nan)



# Count NaN values in the 'volume' and 'price' columns
nan_count_volume = cropPricesDF['Volume'].isna().sum()
nan_count_crop_prices = cropPricesDF['Price'].isna().sum()
print(f"Number of NaN values in 'crop_prices': {nan_count_crop_prices}")
print(f"Number of NaN values in 'volume': {nan_count_volume}")


# Drop rows where both price and Volume is NaN
cropPricesDF = cropPricesDF.dropna(subset=['Price', 'Volume'], how='all')

10956
Number of NaN values in 'crop_prices': 707
Number of NaN values in 'volume': 1052

In [23]:
#Incorporate forward and backward fill for missing crop_prices and volume

price_ffill = cropPricesDF['Price'].ffill()


price_bfill = cropPricesDF['Price'].bfill()

# Calculate the mean of ffill and bfill series
mean_fill_series = (price_ffill + price_bfill) / 2
# Calculate global mean for remaining NaN prices
global_mean = cropPricesDF['Price'].mean()


cropPricesDF['Price'] = cropPricesDF['Price'].fillna(mean_fill_series)

cropPricesDF['Price'] = cropPricesDF['Price'].fillna(global_mean)

#Repeat process for Volume
volume_ffill = cropPricesDF['Volume'].ffill()

# Backward fill (bfill) to fill NaNs
volume_bfill = cropPricesDF['Volume'].bfill()

# Calculate the mean of ffill and bfill series
mean_fill_series = (volume_ffill + volume_bfill) / 2
global_mean = cropPricesDF['Volume'].mean()

# Assign the mean of ffill and bfill to NaN values in the original column
cropPricesDF['Volume'] = cropPricesDF['Volume'].fillna(mean_fill_series)

cropPricesDF['Volume'] = cropPricesDF['Volume'].fillna(global_mean)
cropFactTable = cropPricesDF

# zero_count_price = (cropPricesDF['Price'] == 0).sum()
# zero_count_volume = (cropPricesDF['Volume'] == 0).sum()
# nan_count_volume = cropPricesDF['Volume'].isna().sum()
# nan_count_crop_prices = cropPricesDF['Price'].isna().sum()
# print(f"Number of NaN values in 'crop_prices': {nan_count_crop_prices}")
# print(f"Number of NaN values in 'volume': {nan_count_volume}")
# print(zero_count_price)
# print(zero_count_volume)

Add Date-ID to fact table

In [24]:
#Add Date_ID
dateDF = pd.read_csv("./datasets/dates_dim.csv")
dateDF['Date'] = pd.to_datetime(dateDF['Date'])
cropFactTable= pd.merge(cropFactTable, dateDF[['Date', 'Date_ID']], on=['Date'], how='left')
cropFactTable

           Date          Province Product    Price        Volume  Date_ID
0    2001-01-01            Quebec   Wheat  144.960  97889.085987        0
1    2001-02-01            Quebec   Wheat  145.040  97889.085987        1
2    2001-03-01            Quebec   Wheat  137.060  97889.085987        2
3    2001-04-01            Quebec   Wheat  144.890  97889.085987        3
4    2001-05-01            Quebec   Wheat  151.400  97889.085987        4
...         ...               ...     ...      ...           ...      ...
8771 2023-03-01  British Columbia     Rye  330.420     40.500000      266
8772 2023-04-01  British Columbia     Rye  321.860     49.000000      267
8773 2023-06-01  British Columbia     Rye  310.470     27.000000      269
8774 2023-07-01  British Columbia     Rye  318.045      5.000000      270
8775 2023-08-01  British Columbia     Rye  325.620  97889.085987      271

[8776 rows x 6 columns]

Add Crop_ID

In [25]:
cropDF = pd.read_csv("./datasets/CropDimension.csv")
cropDF.rename(columns={'Common Name': 'Product'}, inplace=True)
cropFactTable= pd.merge(cropFactTable, cropDF[['Product', 'Crop_ID']], on=['Product'], how='left')
cropFactTable

,Date,Province,Product,Price,Volume,Date_ID,Crop_ID
0,2001-01-01,Quebec,Wheat,144.960,97889.085987,0,0
1,2001-02-01,Quebec,Wheat,145.040,97889.085987,1,0
2,2001-03-01,Quebec,Wheat,137.060,97889.085987,2,0
3,2001-04-01,Quebec,Wheat,144.890,97889.085987,3,0
4,2001-05-01,Quebec,Wheat,151.400,97889.085987,4,0
...,...,...,...,...,...,...,...
8771,2023-03-01,British Columbia,Rye,330.420,40.500000,266,4
8772,2023-04-01,British Columbia,Rye,321.860,49.000000,267,4
8773,2023-06-01,British Columbia,Rye,310.470,27.000000,269,4
8774,2023-07-01,British Columbia,Rye,318.045,5.000000,270,4
8775,2023-08-01,British Columbia,Rye,325.620,97889.085987,271,4

Add Climate_ID

In [29]:
#Add CLimate_ID
climateDF = pd.read_csv("datasets/temp/climate_dimension.csv")
climateDF['Date'] = pd.to_datetime(climateDF['Month'])
replace_Province = {'BC' : 'British Columbia', 'AB':'Alberta', 'SK' : 'Saskatchewan', 'MB':'Manitoba', 'ON':'Ontario','QC' :'Quebec'}
climateDF['Province'] = climateDF['Province'].replace(replace_Province)


cropFactTable= pd.merge(cropFactTable, climateDF[['Date', 'Province', 'Climate_ID']], on=['Date', 'Province'], how='left')
cropFactTable

C:\Users\daniel\AppData\Local\Temp\ipykernel_3160\3913324925.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  climateDF['Date'] = pd.to_datetime(climateDF['Month'])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: Jan-01, at position 0

In [28]:
climateDF = pd.read_csv("datasets/temp/climate_dimension.csv")
climateDF

,Climate_ID,Month,Province,Mean_Temp,Min_Temp,Max_Temp,Mean_Diff_from_Normal,Snowfall,Percent_of_Normal_Snowfall,Total_Precip,Percent_of_Normal_Precip,Snow_on_Ground,Days_with_Precip,Heating_Degree_Days,Cooling_Degree_Days
0,0,Jan-01,BC,0.351884,-8.668497,8.602305,1.891500,18.861538,36.088106,107.797911,63.116071,19.377926,11.515625,519.116812,0.0
1,1,Jan-01,AB,-4.457322,-18.166109,8.743096,6.969307,4.954146,16.724138,5.833195,22.025210,6.722222,1.784232,683.534310,0.0
2,2,Jan-01,SK,-8.665789,-24.729032,4.388312,6.291262,6.587407,34.563636,7.125000,35.327586,28.449541,2.681250,824.227632,0.0
3,3,Jan-01,MB,-12.049573,-29.186325,2.558974,5.515873,10.712821,43.716049,10.385294,45.918605,41.987179,3.875000,931.437607,0.0
4,4,Jan-01,ON,-7.284188,-24.331624,2.815385,1.800800,42.976410,87.454545,46.653304,72.245902,35.673469,10.585903,756.844017,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1651,1651,Dec-23,AB,-2.315918,-16.090650,10.993496,6.876923,6.120000,45.250000,6.002929,53.909091,4.104167,1.635983,459.244898,0.0
1652,1652,Dec-23,SK,-4.930667,-18.025333,8.026667,8.333333,4.468750,10.571429,5.381690,21.733333,6.176471,1.394366,701.026667,0.0
1653,1653,Dec-23,MB,-6.992424,-21.728788,6.106061,7.850000,8.676190,41.250000,9.798507,68.285714,7.444444,2.044776,739.525758,0.0
1654,1654,Dec-23,ON,-1.208125,-13.249375,9.453750,4.692000,15.060377,38.181818,53.382550,117.181818,1.774648,9.288591,571.167500,0.0
1655,1655,Dec-23,QC,-5.273333,-19.317391,8.928019,5.100000,22.471233,59.666667,68.622500,112.333333,5.377551,7.356250,696.456296,0.0

Add Region_ID

In [ ]:
#Add Region_ID
regionDF = pd.read_csv("./datasets/region_dim.csv")
regionDF.rename(columns={'Name_EN': 'Province', 'EffectiveDate': 'Date'}, inplace=True)
regionDF['Date'] = pd.to_datetime(regionDF['Date'])


#Crop ID for QC,MN,Alberta
cropFactTable= pd.merge(cropFactTable, regionDF[['Province', 'Region_ID']], on=['Province'], how='left')

#Crop ID for BC
cropFactTable.loc[(cropFactTable['Province'] == 'British Columbia') & (cropFactTable['Date'] < '2018-07-01'), 'Region_ID'] = 13
cropFactTable.loc[(cropFactTable['Province'] == 'British Columbia')  & (cropFactTable['Date'] >= '2018-07-01'),'Region_ID'] = 14


#Crop ID for ON
cropFactTable.loc[(cropFactTable['Province'] == 'Ontario') & (cropFactTable['Date'] < '2022-04-01'), 'Region_ID'] = 7
cropFactTable.loc[(cropFactTable['Province'] == 'Ontario') & (cropFactTable['Date'] >= '2022-04-01') ,'Region_ID'] = 6

#Crop ID for SW
cropFactTable.loc[(cropFactTable['Province'] == 'Saskatchewan') & (cropFactTable['Date'] < '2001-10-01'), 'Region_ID'] = 9
cropFactTable.loc[(cropFactTable['Province'] == 'Saskatchewan') & (cropFactTable['Date'] >= '2001-10-01') & (cropFactTable['Date'] <= '2007-07-01'), 'Region_ID'] = 10
cropFactTable.loc[(cropFactTable['Province'] == 'Saskatchewan') & (cropFactTable['Date'] > '2007-07-01'), 'Region_ID'] = 11
cropFactTable = cropFactTable.drop(['Province', 'Date','Product'], axis=1)
#Shifting columns
new_order = ['Date_ID','Crop_ID','Climate_ID','Region_ID','Price','Volume']
cropFactTable = cropFactTable[new_order]
cropFactTable =  cropFactTable.drop_duplicates()
cropFactTable= cropFactTable.reset_index(drop=True)
cropFactTable.to_csv('cropFactTable.csv', index=False)
cropFactTable

      Date_ID  Crop_ID  Climate_ID  Region_ID    Price        Volume
0           0        0           5          5  144.960  97889.085987
1           1        0          11          5  145.040  97889.085987
2           2        0          17          5  137.060  97889.085987
3           3        0          23          5  144.890  97889.085987
4           4        0          29          5  151.400  97889.085987
...       ...      ...         ...        ...      ...           ...
7964      266        4        1596         14  330.420     40.500000
7965      267        4        1602         14  321.860     49.000000
7966      269        4        1614         14  310.470     27.000000
7967      270        4        1620         14  318.045      5.000000
7968      271        4        1626         14  325.620  97889.085987

[7969 rows x 6 columns]