In [162]:
import pandas as pd
import math
import numpy as np

Binning

Region Dimension

In [163]:
region_df = pd.read_csv('datasets/region_dim.csv')
region_df.head()

,Region_ID,Name_EN,Name_FR,Abbrev_EN,Abbrev_FR,AlphaCode,NumericCode,GeographicRegion,Area_Percent,Area,Land,LandOfArea_Percent,Freshwater,FreshwaterOfArea_Percent,EffectiveDate,Population_Lower,Population_Upper
0,0,Newfoundland and Labrador,Terre-Neuve-et-Labrador,N.L.,T.-N.-L.,NL,10,Atlantic,4.10,405212.00,373872.00,92.27,31340.00,7.73,2001-01-01,0,1000000
1,1,Prince Edward Island,Île-du-Prince-Édouard,P.E.I.,Î.-P.-É.,PE,11,Atlantic,0.10,5660.00,5660.00,100.00,0.00,0.00,2001-01-01,0,1000000
2,2,Nova Scotia,Nouvelle-Écosse,N.S.,N.-É.,NS,12,Atlantic,0.60,55284.00,53338.00,96.48,1946.00,3.52,2001-01-01,0,1000000
3,3,Nova Scotia,Nouvelle-Écosse,N.S.,N.-É.,NS,12,Atlantic,0.60,55284.00,53338.00,96.48,1946.00,3.52,2021-10-01,1000000,5000000
4,4,New Brunswick,Nouveau-Brunswick,N.B.,N.-B.,NB,13,Atlantic,0.70,72908.00,71450.00,98.00,1458.00,2.00,2001-01-01,0,1000000

In [164]:
region_df.loc[region_df['Name_EN'] == 'British Columbia','GeographicRegion'] = 'British Columbia'
region_df.head(20)

,Region_ID,Name_EN,Name_FR,Abbrev_EN,Abbrev_FR,AlphaCode,NumericCode,GeographicRegion,Area_Percent,Area,Land,LandOfArea_Percent,Freshwater,FreshwaterOfArea_Percent,EffectiveDate,Population_Lower,Population_Upper
0,0,Newfoundland and Labrador,Terre-Neuve-et-Labrador,N.L.,T.-N.-L.,NL,10,Atlantic,4.10,405212.00,373872.00,92.27,31340.00,7.73,2001-01-01,0,1000000
1,1,Prince Edward Island,Île-du-Prince-Édouard,P.E.I.,Î.-P.-É.,PE,11,Atlantic,0.10,5660.00,5660.00,100.00,0.00,0.00,2001-01-01,0,1000000
2,2,Nova Scotia,Nouvelle-Écosse,N.S.,N.-É.,NS,12,Atlantic,0.60,55284.00,53338.00,96.48,1946.00,3.52,2001-01-01,0,1000000
3,3,Nova Scotia,Nouvelle-Écosse,N.S.,N.-É.,NS,12,Atlantic,0.60,55284.00,53338.00,96.48,1946.00,3.52,2021-10-01,1000000,5000000
4,4,New Brunswick,Nouveau-Brunswick,N.B.,N.-B.,NB,13,Atlantic,0.70,72908.00,71450.00,98.00,1458.00,2.00,2001-01-01,0,1000000
5,5,Quebec,Québec,Que.,Qc,QC,24,Canada,15.40,1542056.00,1365128.00,88.53,176928.00,11.47,2001-01-01,5000000,10000000
6,6,Ontario,Ontario,Ont.,Ont.,ON,35,Canada,10.80,1076395.00,917741.00,85.26,158654.00,14.74,2001-01-01,10000000,15000000
7,7,Ontario,Ontario,Ont.,Ont.,ON,35,Canada,10.80,1076395.00,917741.00,85.26,158654.00,14.74,2022-04-01,15000000,50000000
8,8,Manitoba,Manitoba,Man.,Man.,MB,46,Prairies,6.50,647797.00,553556.00,85.45,94241.00,14.55,2001-01-01,1000000,5000000
9,9,Saskatchewan,Saskatchewan,Sask.,Sask.,SK,47,Prairies,6.50,651036.00,591670.00,90.88,59366.00,9.12,2001-01-01,1000000,5000000
10,10,Saskatchewan,Saskatchewan,Sask.,Sask.,SK,47,Prairies,6.50,651036.00,591670.00,90.88,59366.00,9.12,2001-10-01,0,1000000
11,11,Saskatchewan,Saskatchewan,Sask.,Sask.,SK,47,Prairies,6.50,651036.00,591670.00,90.88,59366.00,9.12,2007-07-01,1000000,5000000
12,12,Alberta,Alberta,Alta.,Alb.,AB,48,Prairies,6.60,661848.00,642317.00,97.05,19531.00,2.95,2001-01-01,1000000,5000000
13,13,British Columbia,Colombie-Britannique,B.C.,C.-B.,BC,59,British Columbia,9.50,944735.00,925186.00,97.93,19549.00,2.07,2001-01-01,1000000,5000000
14,14,British Columbia,Colombie-Britannique,B.C.,C.-B.,BC,59,British Columbia,9.50,944735.00,925186.00,97.93,19549.00,2.07,2018-07-01,5000000,10000000
15,15,Yukon,Yukon,Y.T.,Yn,YT,60,Territories,4.80,482443.00,474391.00,98.33,8052.00,1.67,2001-01-01,0,1000000
16,16,Northwest Territories,Territoires du Nord-Ouest,N.W.T.,T.N.-O.,NT,61,Territories,13.50,1346106.00,1183085.00,87.89,163021.00,12.11,2001-01-01,0,1000000
17,17,Nunavut,Nunavut,Nvt.,Nt,NU,62,Territories,21.00,2093190.00,1936113.00,92.50,157077.00,7.50,2001-01-01,0,1000000
18,18,Atlantic,NaN,NaN,NaN,NaN,1,Canada,5.50,539064.00,504320.00,93.55,34744.00,6.45,2001-01-01,1000000,5000000
19,19,Prairies,NaN,NaN,NaN,NaN,4,Canada,19.60,1960681.00,1787543.00,91.17,173138.00,8.83,2001-01-01,5000000,10000000

In [165]:
binned_df = pd.DataFrame()

for col in ['Area','Land','LandOfArea_Percent','Freshwater','FreshwaterOfArea_Percent']:
        binned_df[col + '_Binned'] = pd.qcut(region_df[col], q=math.ceil(math.sqrt(len(region_df[col]))),duplicates='drop')
        binned_df[col + '_Binned_Encoded'] = pd.qcut(region_df[col], q=math.ceil(math.sqrt(len(region_df[col]))),duplicates='drop',labels=False)

binned_df.head(20)

,Area_Binned,Area_Binned_Encoded,Land_Binned,Land_Binned_Encoded,LandOfArea_Percent_Binned,LandOfArea_Percent_Binned_Encoded,Freshwater_Binned,Freshwater_Binned_Encoded,FreshwaterOfArea_Percent_Binned,FreshwaterOfArea_Percent_Binned_Encoded
0,"(5659.999, 420658.2]",0,"(5659.999, 393975.8]",0,"(91.113, 93.131]",2,"(10347.8, 32701.6]",1,"(6.869, 8.887]",2
1,"(5659.999, 420658.2]",0,"(5659.999, 393975.8]",0,"(97.754, 100.0]",4,"(-0.001, 10347.8]",0,"(-0.001, 2.246]",0
2,"(5659.999, 420658.2]",0,"(5659.999, 393975.8]",0,"(93.131, 97.754]",3,"(-0.001, 10347.8]",0,"(2.246, 6.869]",1
3,"(5659.999, 420658.2]",0,"(5659.999, 393975.8]",0,"(93.131, 97.754]",3,"(-0.001, 10347.8]",0,"(2.246, 6.869]",1
4,"(5659.999, 420658.2]",0,"(5659.999, 393975.8]",0,"(97.754, 100.0]",4,"(-0.001, 10347.8]",0,"(-0.001, 2.246]",0
5,"(1502866.0, 9984670.0]",4,"(1328719.4, 9093507.0]",4,"(85.25999999999999, 88.997]",0,"(162147.6, 891163.0]",4,"(11.003, 14.739]",4
6,"(944735.0, 1502866.0]",3,"(591670.0, 917741.0]",2,"(85.25999999999999, 88.997]",0,"(80291.0, 162147.6]",3,"(11.003, 14.739]",4
7,"(944735.0, 1502866.0]",3,"(591670.0, 917741.0]",2,"(85.25999999999999, 88.997]",0,"(80291.0, 162147.6]",3,"(11.003, 14.739]",4
8,"(420658.2, 651036.0]",1,"(393975.8, 591670.0]",1,"(85.25999999999999, 88.997]",0,"(80291.0, 162147.6]",3,"(11.003, 14.739]",4
9,"(420658.2, 651036.0]",1,"(393975.8, 591670.0]",1,"(88.997, 91.113]",1,"(32701.6, 80291.0]",2,"(8.887, 11.003]",3
10,"(420658.2, 651036.0]",1,"(393975.8, 591670.0]",1,"(88.997, 91.113]",1,"(32701.6, 80291.0]",2,"(8.887, 11.003]",3
11,"(420658.2, 651036.0]",1,"(393975.8, 591670.0]",1,"(88.997, 91.113]",1,"(32701.6, 80291.0]",2,"(8.887, 11.003]",3
12,"(651036.0, 944735.0]",2,"(591670.0, 917741.0]",2,"(93.131, 97.754]",3,"(10347.8, 32701.6]",1,"(2.246, 6.869]",1
13,"(651036.0, 944735.0]",2,"(917741.0, 1328719.4]",3,"(97.754, 100.0]",4,"(10347.8, 32701.6]",1,"(-0.001, 2.246]",0
14,"(651036.0, 944735.0]",2,"(917741.0, 1328719.4]",3,"(97.754, 100.0]",4,"(10347.8, 32701.6]",1,"(-0.001, 2.246]",0
15,"(420658.2, 651036.0]",1,"(393975.8, 591670.0]",1,"(97.754, 100.0]",4,"(-0.001, 10347.8]",0,"(-0.001, 2.246]",0
16,"(944735.0, 1502866.0]",3,"(917741.0, 1328719.4]",3,"(85.25999999999999, 88.997]",0,"(162147.6, 891163.0]",4,"(11.003, 14.739]",4
17,"(1502866.0, 9984670.0]",4,"(1328719.4, 9093507.0]",4,"(91.113, 93.131]",2,"(80291.0, 162147.6]",3,"(6.869, 8.887]",2
18,"(420658.2, 651036.0]",1,"(393975.8, 591670.0]",1,"(93.131, 97.754]",3,"(32701.6, 80291.0]",2,"(2.246, 6.869]",1
19,"(1502866.0, 9984670.0]",4,"(1328719.4, 9093507.0]",4,"(91.113, 93.131]",2,"(162147.6, 891163.0]",4,"(6.869, 8.887]",2

In [166]:
def encode_pop_bins(pop,bins):
    return bins.index(pop)

In [167]:
bins = [0, 1000000, 5000000, 10000000, 15000000, 50000000]

region_df['Population_Binned_Encoded'] = region_df['Population_Lower'].apply(encode_pop_bins,args=(bins,))
region_df.head(20)

,Region_ID,Name_EN,Name_FR,Abbrev_EN,Abbrev_FR,AlphaCode,NumericCode,GeographicRegion,Area_Percent,Area,Land,LandOfArea_Percent,Freshwater,FreshwaterOfArea_Percent,EffectiveDate,Population_Lower,Population_Upper,Population_Binned_Encoded
0,0,Newfoundland and Labrador,Terre-Neuve-et-Labrador,N.L.,T.-N.-L.,NL,10,Atlantic,4.10,405212.00,373872.00,92.27,31340.00,7.73,2001-01-01,0,1000000,0
1,1,Prince Edward Island,Île-du-Prince-Édouard,P.E.I.,Î.-P.-É.,PE,11,Atlantic,0.10,5660.00,5660.00,100.00,0.00,0.00,2001-01-01,0,1000000,0
2,2,Nova Scotia,Nouvelle-Écosse,N.S.,N.-É.,NS,12,Atlantic,0.60,55284.00,53338.00,96.48,1946.00,3.52,2001-01-01,0,1000000,0
3,3,Nova Scotia,Nouvelle-Écosse,N.S.,N.-É.,NS,12,Atlantic,0.60,55284.00,53338.00,96.48,1946.00,3.52,2021-10-01,1000000,5000000,1
4,4,New Brunswick,Nouveau-Brunswick,N.B.,N.-B.,NB,13,Atlantic,0.70,72908.00,71450.00,98.00,1458.00,2.00,2001-01-01,0,1000000,0
5,5,Quebec,Québec,Que.,Qc,QC,24,Canada,15.40,1542056.00,1365128.00,88.53,176928.00,11.47,2001-01-01,5000000,10000000,2
6,6,Ontario,Ontario,Ont.,Ont.,ON,35,Canada,10.80,1076395.00,917741.00,85.26,158654.00,14.74,2001-01-01,10000000,15000000,3
7,7,Ontario,Ontario,Ont.,Ont.,ON,35,Canada,10.80,1076395.00,917741.00,85.26,158654.00,14.74,2022-04-01,15000000,50000000,4
8,8,Manitoba,Manitoba,Man.,Man.,MB,46,Prairies,6.50,647797.00,553556.00,85.45,94241.00,14.55,2001-01-01,1000000,5000000,1
9,9,Saskatchewan,Saskatchewan,Sask.,Sask.,SK,47,Prairies,6.50,651036.00,591670.00,90.88,59366.00,9.12,2001-01-01,1000000,5000000,1
10,10,Saskatchewan,Saskatchewan,Sask.,Sask.,SK,47,Prairies,6.50,651036.00,591670.00,90.88,59366.00,9.12,2001-10-01,0,1000000,0
11,11,Saskatchewan,Saskatchewan,Sask.,Sask.,SK,47,Prairies,6.50,651036.00,591670.00,90.88,59366.00,9.12,2007-07-01,1000000,5000000,1
12,12,Alberta,Alberta,Alta.,Alb.,AB,48,Prairies,6.60,661848.00,642317.00,97.05,19531.00,2.95,2001-01-01,1000000,5000000,1
13,13,British Columbia,Colombie-Britannique,B.C.,C.-B.,BC,59,British Columbia,9.50,944735.00,925186.00,97.93,19549.00,2.07,2001-01-01,1000000,5000000,1
14,14,British Columbia,Colombie-Britannique,B.C.,C.-B.,BC,59,British Columbia,9.50,944735.00,925186.00,97.93,19549.00,2.07,2018-07-01,5000000,10000000,2
15,15,Yukon,Yukon,Y.T.,Yn,YT,60,Territories,4.80,482443.00,474391.00,98.33,8052.00,1.67,2001-01-01,0,1000000,0
16,16,Northwest Territories,Territoires du Nord-Ouest,N.W.T.,T.N.-O.,NT,61,Territories,13.50,1346106.00,1183085.00,87.89,163021.00,12.11,2001-01-01,0,1000000,0
17,17,Nunavut,Nunavut,Nvt.,Nt,NU,62,Territories,21.00,2093190.00,1936113.00,92.50,157077.00,7.50,2001-01-01,0,1000000,0
18,18,Atlantic,NaN,NaN,NaN,NaN,1,Canada,5.50,539064.00,504320.00,93.55,34744.00,6.45,2001-01-01,1000000,5000000,1
19,19,Prairies,NaN,NaN,NaN,NaN,4,Canada,19.60,1960681.00,1787543.00,91.17,173138.00,8.83,2001-01-01,5000000,10000000,2

One-hot Encoding

Crop Dimension

In [168]:
# Crop Dimension
crop_df = pd.read_csv("datasets\CropDimension.csv")
crop_df.head()

,Crop_ID,Common Name,Species,Family,Minimum Temperature,Maximum Temperature
0,0,Wheat,Triticum,Grass,5,29
1,1,Durum,Triticum,Grass,5,29
2,2,Oats,Avena sativa,Grass,5,28
3,3,Barley,Hordeum,Grass,5,28
4,4,Rye,Secale,Grass,5,34

In [169]:
name_one_hot = pd.get_dummies(crop_df['Common Name'])
name_one_hot.head()

   Barley  Canola  Durum  Flaxseed   Oats    Rye  Wheat
0   False   False  False     False  False  False   True
1   False   False   True     False  False  False  False
2   False   False  False     False   True  False  False
3    True   False  False     False  False  False  False
4   False   False  False     False  False   True  False

In [170]:
species_one_hot = pd.get_dummies(crop_df['Species'])
species_one_hot.head()

,Avena sativa,Brassica napus,Hordeum,Linum usitatissimum,Secale,Triticum
0,False,False,False,False,False,True
1,False,False,False,False,False,True
2,True,False,False,False,False,False
3,False,False,True,False,False,False
4,False,False,False,False,True,False

In [171]:
family_one_hot = pd.get_dummies(crop_df['Family'])
family_one_hot.head(10)

   Brassicaceae  Grass  Linaceae
0         False   True     False
1         False   True     False
2         False   True     False
3         False   True     False
4         False   True     False
5         False  False      True
6          True  False     False

In [172]:
crop_df = pd.concat([crop_df,name_one_hot,species_one_hot,family_one_hot], axis=1)
crop_df.head()

,Crop_ID,Common Name,Species,Family,Minimum Temperature,Maximum Temperature,Barley,Canola,Durum,Flaxseed,...,Wheat,Avena sativa,Brassica napus,Hordeum,Linum usitatissimum,Secale,Triticum,Brassicaceae,Grass,Linaceae
0,0,Wheat,Triticum,Grass,5,29,False,False,False,False,...,True,False,False,False,False,False,True,False,True,False
1,1,Durum,Triticum,Grass,5,29,False,False,True,False,...,False,False,False,False,False,False,True,False,True,False
2,2,Oats,Avena sativa,Grass,5,28,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
3,3,Barley,Hordeum,Grass,5,28,True,False,False,False,...,False,False,False,True,False,False,False,False,True,False
4,4,Rye,Secale,Grass,5,34,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False

In [173]:
crop_df.to_csv("datasets/crop_dimension_encoded.csv")

Region Dimension

In [174]:
name_en_one_hot = pd.get_dummies(region_df['Name_EN'])
name_en_one_hot.head()

,Alberta,Atlantic,British Columbia,Canada,Manitoba,New Brunswick,Newfoundland and Labrador,Northwest Territories,Nova Scotia,Nunavut,Ontario,Prairies,Prince Edward Island,Quebec,Saskatchewan,Territories,Yukon
0,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False

In [175]:
region_one_hot = pd.get_dummies(region_df['GeographicRegion'])
region_one_hot.rename(columns=lambda x: x+'_Region', inplace=True)
region_one_hot.head()

,Atlantic_Region,British Columbia_Region,Canada_Region,Prairies_Region,Territories_Region
0,True,False,False,False,False
1,True,False,False,False,False
2,True,False,False,False,False
3,True,False,False,False,False
4,True,False,False,False,False

In [176]:
region_df = pd.concat([region_df,binned_df,name_en_one_hot,region_one_hot], axis=1)
region_df.head(10)

,Region_ID,Name_EN,Name_FR,Abbrev_EN,Abbrev_FR,AlphaCode,NumericCode,GeographicRegion,Area_Percent,Area,...,Prince Edward Island,Quebec,Saskatchewan,Territories,Yukon,Atlantic_Region,British Columbia_Region,Canada_Region,Prairies_Region,Territories_Region
0,0,Newfoundland and Labrador,Terre-Neuve-et-Labrador,N.L.,T.-N.-L.,NL,10,Atlantic,4.10,405212.00,...,False,False,False,False,False,True,False,False,False,False
1,1,Prince Edward Island,Île-du-Prince-Édouard,P.E.I.,Î.-P.-É.,PE,11,Atlantic,0.10,5660.00,...,True,False,False,False,False,True,False,False,False,False
2,2,Nova Scotia,Nouvelle-Écosse,N.S.,N.-É.,NS,12,Atlantic,0.60,55284.00,...,False,False,False,False,False,True,False,False,False,False
3,3,Nova Scotia,Nouvelle-Écosse,N.S.,N.-É.,NS,12,Atlantic,0.60,55284.00,...,False,False,False,False,False,True,False,False,False,False
4,4,New Brunswick,Nouveau-Brunswick,N.B.,N.-B.,NB,13,Atlantic,0.70,72908.00,...,False,False,False,False,False,True,False,False,False,False
5,5,Quebec,Québec,Que.,Qc,QC,24,Canada,15.40,1542056.00,...,False,True,False,False,False,False,False,True,False,False
6,6,Ontario,Ontario,Ont.,Ont.,ON,35,Canada,10.80,1076395.00,...,False,False,False,False,False,False,False,True,False,False
7,7,Ontario,Ontario,Ont.,Ont.,ON,35,Canada,10.80,1076395.00,...,False,False,False,False,False,False,False,True,False,False
8,8,Manitoba,Manitoba,Man.,Man.,MB,46,Prairies,6.50,647797.00,...,False,False,False,False,False,False,False,False,True,False
9,9,Saskatchewan,Saskatchewan,Sask.,Sask.,SK,47,Prairies,6.50,651036.00,...,False,False,True,False,False,False,False,False,True,False

In [177]:
region_df.to_csv("datasets/region_dim_binned_encoded.csv",index=False)

Fact Table

In [178]:
pd.options.display.float_format = '{:.2f}'.format
fact_table = pd.read_csv("datasets/cropFactTable.csv")
fact_table.head()

,Date_ID,Crop_ID,Climate_ID,Region_ID,Price,Volume,Total_Value,Total_Value_Binned,Total_Value_Binned_Encoded
0,0,0,5,5,144.96,97889.09,14190001.90,"(0, 100000000]",1
1,1,0,11,5,145.04,97889.09,14197833.03,"(0, 100000000]",1
2,2,0,17,5,137.06,97889.09,13416678.13,"(0, 100000000]",1
3,3,0,23,5,144.89,97889.09,14183149.67,"(0, 100000000]",1
4,4,0,29,5,151.40,97889.09,14820407.62,"(0, 100000000]",1

In [179]:
fact_table['Total_Value'].min()

-1531030.2

In [180]:
bins = np.arange(-100000000,1100000000,100000000)
bins

array([-100000000,          0,  100000000,  200000000,  300000000,
        400000000,  500000000,  600000000,  700000000,  800000000,
        900000000, 1000000000])

In [181]:
fact_table['Total_Value'].max()

995129106.9

In [182]:
fact_table['Total_Value_Binned'] = pd.cut(fact_table['Total_Value'],bins)
fact_table['Total_Value_Binned_Encoded'] = pd.cut(fact_table['Total_Value'],bins,labels=False)

In [183]:
fact_table.head()

,Date_ID,Crop_ID,Climate_ID,Region_ID,Price,Volume,Total_Value,Total_Value_Binned,Total_Value_Binned_Encoded
0,0,0,5,5,144.96,97889.09,14190001.90,"(0, 100000000]",1
1,1,0,11,5,145.04,97889.09,14197833.03,"(0, 100000000]",1
2,2,0,17,5,137.06,97889.09,13416678.13,"(0, 100000000]",1
3,3,0,23,5,144.89,97889.09,14183149.67,"(0, 100000000]",1
4,4,0,29,5,151.40,97889.09,14820407.62,"(0, 100000000]",1

In [184]:
fact_table['Total_Value_Binned_Encoded'].value_counts()

Total_Value_Binned_Encoded
1     7073
2      503
3      201
4       98
5       45
6       27
7       10
9        4
0        3
8        3
10       2
Name: count, dtype: int64

In [185]:
fact_table.to_csv("datasets\cropFactTable.csv",index=False)

Climate Dimension

In [186]:
# Add moving average
climate_df = pd.read_csv("datasets\climate_dimension.csv") 

for col in climate_df.columns:
    if not (col == 'Climate_ID') and "Normalized" not in col and "Rolling_Average" not in col:
        climate_df[col + '_Rolling_Average'] = climate_df[col].rolling(6).mean().fillna(method='bfill')
climate_df.head(10)

C:\Users\daniel\AppData\Local\Temp\ipykernel_14820\2891358446.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  climate_df[col + '_Rolling_Average'] = climate_df[col].rolling(6).mean().fillna(method='bfill')
C:\Users\daniel\AppData\Local\Temp\ipykernel_14820\2891358446.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  climate_df[col + '_Rolling_Average'] = climate_df[col].rolling(6).mean().fillna(method='bfill')
C:\Users\daniel\AppData\Local\Temp\ipykernel_14820\2891358446.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  climate_df[col + '_Rolling_Average'] = climate_df[col].rolling(6).mean().fillna(method='bfill')
C:\Users\daniel\AppData\Local\Temp\ipykernel_14820\2891358446.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  climate_df[col + '_Rolling_Average'] = climate_df[col].rolling(6).mean().fillna(method='bfill')
C:\Users\daniel\AppData\Local\Temp\ipykernel_14820\2891358446.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  climate_df[col + '_Rolling_Average'] = climate_df[col].rolling(6).mean().fillna(method='bfill')
C:\Users\daniel\AppData\Local\Temp\ipykernel_14820\2891358446.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  climate_df[col + '_Rolling_Average'] = climate_df[col].rolling(6).mean().fillna(method='bfill')
C:\Users\daniel\AppData\Local\Temp\ipykernel_14820\2891358446.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  climate_df[col + '_Rolling_Average'] = climate_df[col].rolling(6).mean().fillna(method='bfill')
C:\Users\daniel\AppData\Local\Temp\ipykernel_14820\2891358446.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  climate_df[col + '_Rolling_Average'] = climate_df[col].rolling(6).mean().fillna(method='bfill')
C:\Users\daniel\AppData\Local\Temp\ipykernel_14820\2891358446.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  climate_df[col + '_Rolling_Average'] = climate_df[col].rolling(6).mean().fillna(method='bfill')
C:\Users\daniel\AppData\Local\Temp\ipykernel_14820\2891358446.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  climate_df[col + '_Rolling_Average'] = climate_df[col].rolling(6).mean().fillna(method='bfill')
C:\Users\daniel\AppData\Local\Temp\ipykernel_14820\2891358446.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  climate_df[col + '_Rolling_Average'] = climate_df[col].rolling(6).mean().fillna(method='bfill')
C:\Users\daniel\AppData\Local\Temp\ipykernel_14820\2891358446.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  climate_df[col + '_Rolling_Average'] = climate_df[col].rolling(6).mean().fillna(method='bfill')
C:\Users\daniel\AppData\Local\Temp\ipykernel_14820\2891358446.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  climate_df[col + '_Rolling_Average'] = climate_df[col].rolling(6).mean().fillna(method='bfill')

,Unnamed: 0,Mean_Temp,Min_Temp,Max_Temp,Mean_Diff_from_Normal,Snowfall,Percent_of_Normal_Snowfall,Total_Precip,Percent_of_Normal_Precip,Snow_on_Ground,...,Max_Temp_Rolling_Average,Mean_Diff_from_Normal_Rolling_Average,Snowfall_Rolling_Average,Percent_of_Normal_Snowfall_Rolling_Average,Total_Precip_Rolling_Average,Percent_of_Normal_Precip_Rolling_Average,Snow_on_Ground_Rolling_Average,Days_with_Precip_Rolling_Average,Heating_Degree_Days_Rolling_Average,Cooling_Degree_Days_Rolling_Average
0,0,0.35,-8.67,8.60,1.89,18.86,36.09,107.80,63.12,19.38,...,4.52,3.87,21.84,50.87,36.90,50.24,29.52,6.95,769.93,0.00
1,1,-4.46,-18.17,8.74,6.97,4.95,16.72,5.83,22.03,6.72,...,4.52,3.87,21.84,50.87,36.90,50.24,29.52,6.95,769.93,0.00
2,2,-8.67,-24.73,4.39,6.29,6.59,34.56,7.12,35.33,28.45,...,4.52,3.87,21.84,50.87,36.90,50.24,29.52,6.95,769.93,0.00
3,3,-12.05,-29.19,2.56,5.52,10.71,43.72,10.39,45.92,41.99,...,4.52,3.87,21.84,50.87,36.90,50.24,29.52,6.95,769.93,0.00
4,4,-7.28,-24.33,2.82,1.80,42.98,87.45,46.65,72.25,35.67,...,4.52,3.87,21.84,50.87,36.90,50.24,29.52,6.95,769.93,0.00
5,5,-11.85,-27.70,-0.01,0.78,46.94,86.67,43.58,62.79,44.89,...,4.52,3.87,21.84,50.87,36.90,50.24,29.52,6.95,769.93,0.00
6,6,-1.31,-13.05,9.00,-1.40,15.91,95.54,47.26,52.77,18.10,...,4.58,3.33,21.35,60.78,26.81,48.51,29.30,6.30,771.15,0.00
7,7,-12.24,-30.21,8.50,-3.78,16.22,92.05,15.73,91.12,12.29,...,4.54,1.53,23.22,73.33,28.46,60.03,30.23,6.77,795.45,0.00
8,8,-17.15,-34.50,3.19,-5.20,11.06,91.38,10.78,87.43,32.79,...,4.34,-0.38,23.97,82.80,29.07,68.71,30.95,6.99,822.06,0.00
9,9,-18.77,-35.65,-1.54,-4.69,13.37,88.35,12.84,81.62,47.30,...,3.66,-2.08,24.41,90.24,29.48,74.66,31.84,7.13,836.25,0.00

In [187]:
# Binning 
binned_df = pd.DataFrame()

for col in climate_df.columns:
    if not (col == 'Climate_ID') and "Normalized" not in col:
        print(col)
        # binned_df[col + '_Binned'] = pd.qcut(all_processed_df[col], q=math.sqrt(len(all_processed_df[col])))
        binned_df[col + '_Binned'] = pd.qcut(climate_df[col], q=math.ceil(math.sqrt(len(climate_df['Cooling_Degree_Days']))),duplicates='drop')
        binned_df[col + '_Binned_Encoded'] = pd.qcut(climate_df[col], q=math.ceil(math.sqrt(len(climate_df['Cooling_Degree_Days']))),duplicates='drop',labels=False)

binned_df.head(20)

Unnamed: 0
Mean_Temp
Min_Temp
Max_Temp
Mean_Diff_from_Normal
Snowfall
Percent_of_Normal_Snowfall
Total_Precip
Percent_of_Normal_Precip
Snow_on_Ground
Days_with_Precip
Heating_Degree_Days
Cooling_Degree_Days
Unnamed: 0_Rolling_Average
Mean_Temp_Rolling_Average
Min_Temp_Rolling_Average
Max_Temp_Rolling_Average
Mean_Diff_from_Normal_Rolling_Average
Snowfall_Rolling_Average
Percent_of_Normal_Snowfall_Rolling_Average
Total_Precip_Rolling_Average
Percent_of_Normal_Precip_Rolling_Average
Snow_on_Ground_Rolling_Average
Days_with_Precip_Rolling_Average
Heating_Degree_Days_Rolling_Average
Cooling_Degree_Days_Rolling_Average

,Unnamed: 0_Binned,Unnamed: 0_Binned_Encoded,Mean_Temp_Binned,Mean_Temp_Binned_Encoded,Min_Temp_Binned,Min_Temp_Binned_Encoded,Max_Temp_Binned,Max_Temp_Binned_Encoded,Mean_Diff_from_Normal_Binned,Mean_Diff_from_Normal_Binned_Encoded,...,Percent_of_Normal_Precip_Rolling_Average_Binned,Percent_of_Normal_Precip_Rolling_Average_Binned_Encoded,Snow_on_Ground_Rolling_Average_Binned,Snow_on_Ground_Rolling_Average_Binned_Encoded,Days_with_Precip_Rolling_Average_Binned,Days_with_Precip_Rolling_Average_Binned_Encoded,Heating_Degree_Days_Rolling_Average_Binned,Heating_Degree_Days_Rolling_Average_Binned_Encoded,Cooling_Degree_Days_Rolling_Average_Binned,Cooling_Degree_Days_Rolling_Average_Binned_Encoded
0,"(-0.001, 40.366]",0,"(-0.788, 0.354]",14,"(-9.3, -8.327]",19,"(8.595, 9.173]",9,"(1.858, 2.002]",32,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
1,"(-0.001, 40.366]",0,"(-5.42, -4.265]",10,"(-19.687, -17.857]",12,"(8.595, 9.173]",9,"(4.807, 8.447]",40,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
2,"(-0.001, 40.366]",0,"(-9.294, -8.259]",6,"(-25.829, -24.569]",8,"(3.739, 4.741]",3,"(4.807, 8.447]",40,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
3,"(-0.001, 40.366]",0,"(-12.906, -11.526]",3,"(-30.12, -28.838]",5,"(0.658, 2.712]",1,"(4.807, 8.447]",40,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
4,"(-0.001, 40.366]",0,"(-7.488, -6.566]",8,"(-24.569, -23.007]",9,"(2.712, 3.739]",2,"(1.685, 1.858]",31,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
5,"(-0.001, 40.366]",0,"(-12.906, -11.526]",3,"(-28.838, -27.314]",6,"(-7.256, 0.658]",0,"(0.7, 0.808]",23,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
6,"(-0.001, 40.366]",0,"(-1.62, -0.788]",13,"(-14.259, -12.888]",15,"(8.595, 9.173]",9,"(-1.604, -1.355]",6,...,"(48.512, 64.184]",0,"(27.48, 29.35]",31,"(6.176, 6.368]",4,"(770.499, 789.228]",36,"(-0.001, 0.00177]",0
7,"(-0.001, 40.366]",0,"(-12.906, -11.526]",3,"(-31.573, -30.12]",4,"(8.041, 8.595]",8,"(-4.901, -3.745]",1,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.759, 6.847]",8,"(789.228, 809.343]",37,"(-0.001, 0.00177]",0
8,"(-0.001, 40.366]",0,"(-23.609, -16.875]",0,"(-34.882, -33.211]",2,"(2.712, 3.739]",2,"(-12.331999999999999, -4.901]",0,...,"(64.184, 68.767]",1,"(30.881, 36.73]",33,"(6.949, 7.023]",10,"(809.343, 827.13]",38,"(-0.001, 0.00177]",0
9,"(-0.001, 40.366]",0,"(-23.609, -16.875]",0,"(-36.58, -34.882]",1,"(-7.256, 0.658]",0,"(-4.901, -3.745]",1,...,"(73.693, 76.424]",4,"(30.881, 36.73]",33,"(7.124, 7.224]",12,"(827.13, 862.674]",39,"(-0.001, 0.00177]",0
10,"(-0.001, 40.366]",0,"(-7.488, -6.566]",8,"(-23.007, -21.409]",10,"(7.312, 8.041]",7,"(-0.086, 0.0242]",16,...,"(87.097, 88.909]",11,"(30.881, 36.73]",33,"(7.124, 7.224]",12,"(809.343, 827.13]",38,"(-0.001, 0.00177]",0
11,"(-0.001, 40.366]",0,"(-12.906, -11.526]",3,"(-30.12, -28.838]",5,"(3.739, 4.741]",3,"(-0.634, -0.52]",11,...,"(96.58, 97.939]",17,"(30.881, 36.73]",33,"(7.224, 7.333]",13,"(809.343, 827.13]",38,"(-0.001, 0.00177]",0
12,"(-0.001, 40.366]",0,"(2.71, 3.516]",18,"(-8.327, -7.133]",20,"(12.722, 13.884]",14,"(0.0242, 0.128]",17,...,"(104.319, 105.754]",23,"(30.881, 36.73]",33,"(8.096, 8.16]",24,"(789.228, 809.343]",37,"(-0.001, 0.00177]",0
13,"(-0.001, 40.366]",0,"(-2.759, -1.62]",12,"(-21.409, -19.687]",11,"(11.653, 12.722]",13,"(1.685, 1.858]",31,...,"(99.416, 100.772]",19,"(30.881, 36.73]",33,"(8.011, 8.096]",23,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
14,"(-0.001, 40.366]",0,"(-4.265, -2.759]",11,"(-23.007, -21.409]",10,"(10.499, 11.653]",12,"(1.188, 1.294]",27,...,"(93.549, 95.009]",15,"(27.48, 29.35]",31,"(7.803, 7.878]",20,"(701.868, 720.693]",32,"(-0.001, 0.00177]",0
15,"(-0.001, 40.366]",0,"(-7.488, -6.566]",8,"(-24.569, -23.007]",9,"(5.705, 6.522]",5,"(0.353, 0.481]",20,...,"(95.009, 96.58]",16,"(23.955, 25.649]",29,"(7.74, 7.803]",19,"(656.904, 679.378]",30,"(-0.001, 0.00177]",0
16,"(-0.001, 40.366]",0,"(-4.265, -2.759]",11,"(-19.687, -17.857]",12,"(9.173, 9.8]",10,"(-0.634, -0.52]",11,...,"(83.019, 84.408]",8,"(22.529, 23.955]",28,"(7.333, 7.407]",14,"(642.484, 656.904]",29,"(-0.001, 0.00177]",0
17,"(-0.001, 40.366]",0,"(-6.566, -5.42]",9,"(-28.838, -27.314]",6,"(8.041, 8.595]",8,"(-0.634, -0.52]",11,...,"(78.731, 80.926]",6,"(22.529, 23.955]",28,"(6.649, 6.759]",7,"(616.049, 642.484]",28,"(-0.001, 0.00177]",0
18,"(-0.001, 40.366]",0,"(5.675, 6.576]",21,"(-4.104, -3.28]",24,"(19.031, 20.224]",19,"(-0.783, -0.634]",10,...,"(76.424, 78.731]",5,"(20.797, 22.529]",27,"(6.368, 6.513]",5,"(616.049, 642.484]",28,"(-0.001, 0.00177]",0
19,"(-0.001, 40.366]",0,"(3.516, 4.503]",19,"(-11.594, -10.363]",17,"(21.561, 22.606]",21,"(-0.306, -0.212]",14,...,"(80.926, 83.019]",7,"(20.797, 22.529]",27,"(6.176, 6.368]",4,"(553.234, 585.153]",26,"(0.00859, 0.0248]",2

In [188]:
climate_df = pd.concat([climate_df,binned_df], axis=1)
display(climate_df)

,Unnamed: 0,Mean_Temp,Min_Temp,Max_Temp,Mean_Diff_from_Normal,Snowfall,Percent_of_Normal_Snowfall,Total_Precip,Percent_of_Normal_Precip,Snow_on_Ground,...,Percent_of_Normal_Precip_Rolling_Average_Binned,Percent_of_Normal_Precip_Rolling_Average_Binned_Encoded,Snow_on_Ground_Rolling_Average_Binned,Snow_on_Ground_Rolling_Average_Binned_Encoded,Days_with_Precip_Rolling_Average_Binned,Days_with_Precip_Rolling_Average_Binned_Encoded,Heating_Degree_Days_Rolling_Average_Binned,Heating_Degree_Days_Rolling_Average_Binned_Encoded,Cooling_Degree_Days_Rolling_Average_Binned,Cooling_Degree_Days_Rolling_Average_Binned_Encoded
0,0,0.35,-8.67,8.60,1.89,18.86,36.09,107.80,63.12,19.38,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
1,1,-4.46,-18.17,8.74,6.97,4.95,16.72,5.83,22.03,6.72,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
2,2,-8.67,-24.73,4.39,6.29,6.59,34.56,7.12,35.33,28.45,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
3,3,-12.05,-29.19,2.56,5.52,10.71,43.72,10.39,45.92,41.99,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
4,4,-7.28,-24.33,2.82,1.80,42.98,87.45,46.65,72.25,35.67,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1651,1651,-2.32,-16.09,10.99,6.88,6.12,45.25,6.00,53.91,4.10,...,"(76.424, 78.731]",5,"(5.658, 7.143]",17,"(6.847, 6.949]",9,"(524.872, 553.234]",25,"(-0.001, 0.00177]",0
1652,1652,-4.93,-18.03,8.03,8.33,4.47,10.57,5.38,21.73,6.18,...,"(64.184, 68.767]",1,"(5.658, 7.143]",17,"(6.368, 6.513]",5,"(553.234, 585.153]",26,"(-0.001, 0.00177]",0
1653,1653,-6.99,-21.73,6.11,7.85,8.68,41.25,9.80,68.29,7.44,...,"(48.512, 64.184]",0,"(5.658, 7.143]",17,"(5.945, 6.176]",3,"(553.234, 585.153]",26,"(-0.001, 0.00177]",0
1654,1654,-1.21,-13.25,9.45,4.69,15.06,38.18,53.38,117.18,1.77,...,"(71.751, 73.693]",3,"(5.658, 7.143]",17,"(6.368, 6.513]",5,"(553.234, 585.153]",26,"(-0.001, 0.00177]",0
1655,1655,-5.27,-19.32,8.93,5.10,22.47,59.67,68.62,112.33,5.38,...,"(78.731, 80.926]",6,"(4.368, 5.658]",16,"(6.176, 6.368]",4,"(585.153, 616.049]",27,"(-0.001, 0.00177]",0

In [189]:
climate_df.rename(columns={'Unnamed: 0':'Climate_ID'},inplace=True)

In [190]:
climate_df

,Climate_ID,Mean_Temp,Min_Temp,Max_Temp,Mean_Diff_from_Normal,Snowfall,Percent_of_Normal_Snowfall,Total_Precip,Percent_of_Normal_Precip,Snow_on_Ground,...,Percent_of_Normal_Precip_Rolling_Average_Binned,Percent_of_Normal_Precip_Rolling_Average_Binned_Encoded,Snow_on_Ground_Rolling_Average_Binned,Snow_on_Ground_Rolling_Average_Binned_Encoded,Days_with_Precip_Rolling_Average_Binned,Days_with_Precip_Rolling_Average_Binned_Encoded,Heating_Degree_Days_Rolling_Average_Binned,Heating_Degree_Days_Rolling_Average_Binned_Encoded,Cooling_Degree_Days_Rolling_Average_Binned,Cooling_Degree_Days_Rolling_Average_Binned_Encoded
0,0,0.35,-8.67,8.60,1.89,18.86,36.09,107.80,63.12,19.38,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
1,1,-4.46,-18.17,8.74,6.97,4.95,16.72,5.83,22.03,6.72,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
2,2,-8.67,-24.73,4.39,6.29,6.59,34.56,7.12,35.33,28.45,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
3,3,-12.05,-29.19,2.56,5.52,10.71,43.72,10.39,45.92,41.99,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
4,4,-7.28,-24.33,2.82,1.80,42.98,87.45,46.65,72.25,35.67,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1651,1651,-2.32,-16.09,10.99,6.88,6.12,45.25,6.00,53.91,4.10,...,"(76.424, 78.731]",5,"(5.658, 7.143]",17,"(6.847, 6.949]",9,"(524.872, 553.234]",25,"(-0.001, 0.00177]",0
1652,1652,-4.93,-18.03,8.03,8.33,4.47,10.57,5.38,21.73,6.18,...,"(64.184, 68.767]",1,"(5.658, 7.143]",17,"(6.368, 6.513]",5,"(553.234, 585.153]",26,"(-0.001, 0.00177]",0
1653,1653,-6.99,-21.73,6.11,7.85,8.68,41.25,9.80,68.29,7.44,...,"(48.512, 64.184]",0,"(5.658, 7.143]",17,"(5.945, 6.176]",3,"(553.234, 585.153]",26,"(-0.001, 0.00177]",0
1654,1654,-1.21,-13.25,9.45,4.69,15.06,38.18,53.38,117.18,1.77,...,"(71.751, 73.693]",3,"(5.658, 7.143]",17,"(6.368, 6.513]",5,"(553.234, 585.153]",26,"(-0.001, 0.00177]",0
1655,1655,-5.27,-19.32,8.93,5.10,22.47,59.67,68.62,112.33,5.38,...,"(78.731, 80.926]",6,"(4.368, 5.658]",16,"(6.176, 6.368]",4,"(585.153, 616.049]",27,"(-0.001, 0.00177]",0

In [191]:
climate_df.to_csv('datasets/climate_dimension_binned_encoded.csv')

Constuct Training Data Set

In [192]:
crop_df = pd.read_csv("datasets/crop_dimension_encoded.csv")
region_df = pd.read_csv("datasets/region_dim_binned_encoded.csv")
date_df = pd.read_csv("datasets\dates_dim.csv")
climate_df = pd.read_csv("datasets\climate_dimension_binned_encoded.csv") 
fact_table = pd.read_csv("datasets/cropFactTable.csv")

In [193]:
# drop columns from Crop
crop_df.drop(['Unnamed: 0','Common Name','Species','Family'],axis=1,inplace=True)
crop_df.head()

,Crop_ID,Minimum Temperature,Maximum Temperature,Barley,Canola,Durum,Flaxseed,Oats,Rye,Wheat,Avena sativa,Brassica napus,Hordeum,Linum usitatissimum,Secale,Triticum,Brassicaceae,Grass,Linaceae
0,0,5,29,False,False,False,False,False,False,True,False,False,False,False,False,True,False,True,False
1,1,5,29,False,False,True,False,False,False,False,False,False,False,False,False,True,False,True,False
2,2,5,28,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False
3,3,5,28,True,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False
4,4,5,34,False,False,False,False,False,True,False,False,False,False,False,True,False,False,True,False

In [194]:
region_df.head()

,Region_ID,Name_EN,Name_FR,Abbrev_EN,Abbrev_FR,AlphaCode,NumericCode,GeographicRegion,Area_Percent,Area,...,Prince Edward Island,Quebec,Saskatchewan,Territories,Yukon,Atlantic_Region,British Columbia_Region,Canada_Region,Prairies_Region,Territories_Region
0,0,Newfoundland and Labrador,Terre-Neuve-et-Labrador,N.L.,T.-N.-L.,NL,10,Atlantic,4.10,405212.00,...,False,False,False,False,False,True,False,False,False,False
1,1,Prince Edward Island,Île-du-Prince-Édouard,P.E.I.,Î.-P.-É.,PE,11,Atlantic,0.10,5660.00,...,True,False,False,False,False,True,False,False,False,False
2,2,Nova Scotia,Nouvelle-Écosse,N.S.,N.-É.,NS,12,Atlantic,0.60,55284.00,...,False,False,False,False,False,True,False,False,False,False
3,3,Nova Scotia,Nouvelle-Écosse,N.S.,N.-É.,NS,12,Atlantic,0.60,55284.00,...,False,False,False,False,False,True,False,False,False,False
4,4,New Brunswick,Nouveau-Brunswick,N.B.,N.-B.,NB,13,Atlantic,0.70,72908.00,...,False,False,False,False,False,True,False,False,False,False

In [195]:
# drop columns from Region
cols = list(range(2,19))
region_df.drop(region_df.columns[cols],axis=1,inplace=True)
region_df.head()

,Region_ID,Name_EN,Area_Binned_Encoded,Land_Binned,Land_Binned_Encoded,LandOfArea_Percent_Binned,LandOfArea_Percent_Binned_Encoded,Freshwater_Binned,Freshwater_Binned_Encoded,FreshwaterOfArea_Percent_Binned,...,Prince Edward Island,Quebec,Saskatchewan,Territories,Yukon,Atlantic_Region,British Columbia_Region,Canada_Region,Prairies_Region,Territories_Region
0,0,Newfoundland and Labrador,0,"(5659.999, 393975.8]",0,"(91.113, 93.131]",2,"(10347.8, 32701.6]",1,"(6.869, 8.887]",...,False,False,False,False,False,True,False,False,False,False
1,1,Prince Edward Island,0,"(5659.999, 393975.8]",0,"(97.754, 100.0]",4,"(-0.001, 10347.8]",0,"(-0.001, 2.246]",...,True,False,False,False,False,True,False,False,False,False
2,2,Nova Scotia,0,"(5659.999, 393975.8]",0,"(93.131, 97.754]",3,"(-0.001, 10347.8]",0,"(2.246, 6.869]",...,False,False,False,False,False,True,False,False,False,False
3,3,Nova Scotia,0,"(5659.999, 393975.8]",0,"(93.131, 97.754]",3,"(-0.001, 10347.8]",0,"(2.246, 6.869]",...,False,False,False,False,False,True,False,False,False,False
4,4,New Brunswick,0,"(5659.999, 393975.8]",0,"(97.754, 100.0]",4,"(-0.001, 10347.8]",0,"(-0.001, 2.246]",...,False,False,False,False,False,True,False,False,False,False

In [196]:
cols = [1,3,5,7,9]
region_df.drop(region_df.columns[cols],axis=1,inplace=True)
region_df.head()

,Region_ID,Area_Binned_Encoded,Land_Binned_Encoded,LandOfArea_Percent_Binned_Encoded,Freshwater_Binned_Encoded,FreshwaterOfArea_Percent_Binned_Encoded,Alberta,Atlantic,British Columbia,Canada,...,Prince Edward Island,Quebec,Saskatchewan,Territories,Yukon,Atlantic_Region,British Columbia_Region,Canada_Region,Prairies_Region,Territories_Region
0,0,0,0,2,1,2,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1,1,0,0,4,0,0,False,False,False,False,...,True,False,False,False,False,True,False,False,False,False
2,2,0,0,3,0,1,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,3,0,0,3,0,1,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
4,4,0,0,4,0,0,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [197]:
date_df.drop(['Date','Month_LongName','Month_ShortName','NumberOfDaysInQuarter','NumberOfDaysInYear'],axis=1,inplace=True)
date_df.head()

   Date_ID  Month  NumberOfDaysInMonth  Quarter  Year  LeapYear
0        0      1                   31        1  2001         0
1        1      2                   28        1  2001         0
2        2      3                   31        1  2001         0
3        3      4                   30        2  2001         0
4        4      5                   31        2  2001         0

In [198]:
climate_df.head()

,Unnamed: 0,Climate_ID,Mean_Temp,Min_Temp,Max_Temp,Mean_Diff_from_Normal,Snowfall,Percent_of_Normal_Snowfall,Total_Precip,Percent_of_Normal_Precip,...,Percent_of_Normal_Precip_Rolling_Average_Binned,Percent_of_Normal_Precip_Rolling_Average_Binned_Encoded,Snow_on_Ground_Rolling_Average_Binned,Snow_on_Ground_Rolling_Average_Binned_Encoded,Days_with_Precip_Rolling_Average_Binned,Days_with_Precip_Rolling_Average_Binned_Encoded,Heating_Degree_Days_Rolling_Average_Binned,Heating_Degree_Days_Rolling_Average_Binned_Encoded,Cooling_Degree_Days_Rolling_Average_Binned,Cooling_Degree_Days_Rolling_Average_Binned_Encoded
0,0,0,0.35,-8.67,8.60,1.89,18.86,36.09,107.80,63.12,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
1,1,1,-4.46,-18.17,8.74,6.97,4.95,16.72,5.83,22.03,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
2,2,2,-8.67,-24.73,4.39,6.29,6.59,34.56,7.12,35.33,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
3,3,3,-12.05,-29.19,2.56,5.52,10.71,43.72,10.39,45.92,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0
4,4,4,-7.28,-24.33,2.82,1.80,42.98,87.45,46.65,72.25,...,"(48.512, 64.184]",0,"(29.35, 30.881]",32,"(6.847, 6.949]",9,"(756.027, 770.499]",35,"(-0.001, 0.00177]",0

In [199]:
climate_df.columns

Index(['Unnamed: 0', 'Climate_ID', 'Mean_Temp', 'Min_Temp', 'Max_Temp',
       'Mean_Diff_from_Normal', 'Snowfall', 'Percent_of_Normal_Snowfall',
       'Total_Precip', 'Percent_of_Normal_Precip', 'Snow_on_Ground',
       'Days_with_Precip', 'Heating_Degree_Days', 'Cooling_Degree_Days',
       'Mean_Temp_Normalized', 'Min_Temp_Normalized', 'Max_Temp_Normalized',
       'Mean_Diff_from_Normal_Normalized', 'Snowfall_Normalized',
       'Percent_of_Normal_Snowfall_Normalized', 'Total_Precip_Normalized',
       'Percent_of_Normal_Precip_Normalized', 'Snow_on_Ground_Normalized',
       'Days_with_Precip_Normalized', 'Heating_Degree_Days_Normalized',
       'Cooling_Degree_Days_Normalized', 'Unnamed: 0_Rolling_Average',
       'Mean_Temp_Rolling_Average', 'Min_Temp_Rolling_Average',
       'Max_Temp_Rolling_Average', 'Mean_Diff_from_Normal_Rolling_Average',
       'Snowfall_Rolling_Average',
       'Percent_of_Normal_Snowfall_Rolling_Average',
       'Total_Precip_Rolling_Average',
       'Percent_of_Normal_Precip_Rolling_Average',
       'Snow_on_Ground_Rolling_Average', 'Days_with_Precip_Rolling_Average',
       'Heating_Degree_Days_Rolling_Average',
       'Cooling_Degree_Days_Rolling_Average', 'Unnamed: 0_Binned',
       'Unnamed: 0_Binned_Encoded', 'Mean_Temp_Binned',
       'Mean_Temp_Binned_Encoded', 'Min_Temp_Binned',
       'Min_Temp_Binned_Encoded', 'Max_Temp_Binned', 'Max_Temp_Binned_Encoded',
       'Mean_Diff_from_Normal_Binned', 'Mean_Diff_from_Normal_Binned_Encoded',
       'Snowfall_Binned', 'Snowfall_Binned_Encoded',
       'Percent_of_Normal_Snowfall_Binned',
       'Percent_of_Normal_Snowfall_Binned_Encoded', 'Total_Precip_Binned',
       'Total_Precip_Binned_Encoded', 'Percent_of_Normal_Precip_Binned',
       'Percent_of_Normal_Precip_Binned_Encoded', 'Snow_on_Ground_Binned',
       'Snow_on_Ground_Binned_Encoded', 'Days_with_Precip_Binned',
       'Days_with_Precip_Binned_Encoded', 'Heating_Degree_Days_Binned',
       'Heating_Degree_Days_Binned_Encoded', 'Cooling_Degree_Days_Binned',
       'Cooling_Degree_Days_Binned_Encoded',
       'Unnamed: 0_Rolling_Average_Binned',
       'Unnamed: 0_Rolling_Average_Binned_Encoded',
       'Mean_Temp_Rolling_Average_Binned',
       'Mean_Temp_Rolling_Average_Binned_Encoded',
       'Min_Temp_Rolling_Average_Binned',
       'Min_Temp_Rolling_Average_Binned_Encoded',
       'Max_Temp_Rolling_Average_Binned',
       'Max_Temp_Rolling_Average_Binned_Encoded',
       'Mean_Diff_from_Normal_Rolling_Average_Binned',
       'Mean_Diff_from_Normal_Rolling_Average_Binned_Encoded',
       'Snowfall_Rolling_Average_Binned',
       'Snowfall_Rolling_Average_Binned_Encoded',
       'Percent_of_Normal_Snowfall_Rolling_Average_Binned',
       'Percent_of_Normal_Snowfall_Rolling_Average_Binned_Encoded',
       'Total_Precip_Rolling_Average_Binned',
       'Total_Precip_Rolling_Average_Binned_Encoded',
       'Percent_of_Normal_Precip_Rolling_Average_Binned',
       'Percent_of_Normal_Precip_Rolling_Average_Binned_Encoded',
       'Snow_on_Ground_Rolling_Average_Binned',
       'Snow_on_Ground_Rolling_Average_Binned_Encoded',
       'Days_with_Precip_Rolling_Average_Binned',
       'Days_with_Precip_Rolling_Average_Binned_Encoded',
       'Heating_Degree_Days_Rolling_Average_Binned',
       'Heating_Degree_Days_Rolling_Average_Binned_Encoded',
       'Cooling_Degree_Days_Rolling_Average_Binned',
       'Cooling_Degree_Days_Rolling_Average_Binned_Encoded'],
      dtype='object')

In [200]:
for col in climate_df.columns:
    if 'Climate_ID' not in col and 'Encoded' not in col:
        climate_df.drop(col,axis=1,inplace=True)

In [201]:
climate_df.head(10)

,Climate_ID,Unnamed: 0_Binned_Encoded,Mean_Temp_Binned_Encoded,Min_Temp_Binned_Encoded,Max_Temp_Binned_Encoded,Mean_Diff_from_Normal_Binned_Encoded,Snowfall_Binned_Encoded,Percent_of_Normal_Snowfall_Binned_Encoded,Total_Precip_Binned_Encoded,Percent_of_Normal_Precip_Binned_Encoded,...,Max_Temp_Rolling_Average_Binned_Encoded,Mean_Diff_from_Normal_Rolling_Average_Binned_Encoded,Snowfall_Rolling_Average_Binned_Encoded,Percent_of_Normal_Snowfall_Rolling_Average_Binned_Encoded,Total_Precip_Rolling_Average_Binned_Encoded,Percent_of_Normal_Precip_Rolling_Average_Binned_Encoded,Snow_on_Ground_Rolling_Average_Binned_Encoded,Days_with_Precip_Rolling_Average_Binned_Encoded,Heating_Degree_Days_Rolling_Average_Binned_Encoded,Cooling_Degree_Days_Rolling_Average_Binned_Encoded
0,0,0,14,19,9,32,22,7,37,6,...,1,40,27,11,2,0,32,9,35,0
1,1,0,10,12,9,40,11,4,0,0,...,1,40,27,11,2,0,32,9,35,0
2,2,0,6,8,3,40,12,7,0,0,...,1,40,27,11,2,0,32,9,35,0
3,3,0,3,5,1,40,16,9,1,2,...,1,40,27,11,2,0,32,9,35,0
4,4,0,8,9,2,31,30,16,17,9,...,1,40,27,11,2,0,32,9,35,0
5,5,0,3,6,0,23,31,16,16,5,...,1,40,27,11,2,0,32,9,35,0
6,6,0,13,15,9,6,20,18,18,3,...,1,39,27,13,0,0,31,4,36,0
7,7,0,3,4,8,1,20,17,5,16,...,1,32,29,15,0,0,32,8,37,0
8,8,0,0,2,2,0,16,17,1,15,...,1,11,30,18,0,1,33,10,38,0
9,9,0,0,1,0,1,18,17,3,12,...,0,2,30,20,0,4,33,12,39,0

In [202]:
fact_table.drop(['Price','Volume','Total_Value','Total_Value_Binned'],axis=1,inplace=True) 
fact_table.head()

   Date_ID  Crop_ID  Climate_ID  Region_ID  Total_Value_Binned_Encoded
0        0        0           5          5                           1
1        1        0          11          5                           1
2        2        0          17          5                           1
3        3        0          23          5                           1
4        4        0          29          5                           1

In [203]:
# Create training data set by merging all 5 tables together 
pd.options.display.float_format = '{:.2f}'.format
combined_df = fact_table.merge(date_df,on='Date_ID').merge(crop_df,on='Crop_ID').merge(climate_df,on='Climate_ID').merge(region_df,on='Region_ID')
combined_df.head()

,Date_ID,Crop_ID,Climate_ID,Region_ID,Total_Value_Binned_Encoded,Month,NumberOfDaysInMonth,Quarter,Year,LeapYear,...,Prince Edward Island,Quebec,Saskatchewan,Territories,Yukon,Atlantic_Region,British Columbia_Region,Canada_Region,Prairies_Region,Territories_Region
0,0,0,5,5,1,1,31,1,2001,0,...,False,True,False,False,False,False,False,True,False,False
1,1,0,11,5,1,2,28,1,2001,0,...,False,True,False,False,False,False,False,True,False,False
2,2,0,17,5,1,3,31,1,2001,0,...,False,True,False,False,False,False,False,True,False,False
3,3,0,23,5,1,4,30,2,2001,0,...,False,True,False,False,False,False,False,True,False,False
4,4,0,29,5,1,5,31,2,2001,0,...,False,True,False,False,False,False,False,True,False,False

In [204]:
# drop surrogate keys 
combined_df.drop(['Crop_ID','Climate_ID','Region_ID','Unnamed: 0_Binned_Encoded','Unnamed: 0_Rolling_Average_Binned_Encoded'],axis=1,inplace=True)

In [205]:
combined_df.to_csv('datasets/merged_dataset.csv')

In [206]:
combined_df.head()

,Date_ID,Total_Value_Binned_Encoded,Month,NumberOfDaysInMonth,Quarter,Year,LeapYear,Minimum Temperature,Maximum Temperature,Barley,...,Prince Edward Island,Quebec,Saskatchewan,Territories,Yukon,Atlantic_Region,British Columbia_Region,Canada_Region,Prairies_Region,Territories_Region
0,0,1,1,31,1,2001,0,5,29,False,...,False,True,False,False,False,False,False,True,False,False
1,1,1,2,28,1,2001,0,5,29,False,...,False,True,False,False,False,False,False,True,False,False
2,2,1,3,31,1,2001,0,5,29,False,...,False,True,False,False,False,False,False,True,False,False
3,3,1,4,30,2,2001,0,5,29,False,...,False,True,False,False,False,False,False,True,False,False
4,4,1,5,31,2,2001,0,5,29,False,...,False,True,False,False,False,False,False,True,False,False

Splitting for ML

In [207]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\daniel\appdata\local\programs\python\python311\lib\site-packages (1.4.1.post1)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\daniel\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\daniel\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.13.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\daniel\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\daniel\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.4.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [208]:
from sklearn.model_selection import train_test_split

In [209]:
X = combined_df.drop(['Total_Value_Binned_Encoded'],axis=1)
y = combined_df['Total_Value_Binned_Encoded']

In [210]:
y[y.isnull() == True]

Series([], Name: Total_Value_Binned_Encoded, dtype: int64)

In [211]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, stratify=y)

X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=1)

In [212]:
# Homogenize the index values,
X_train.index = y_train.index
# Assign the columns.
train_df = X_train
train_df['Total_Value'] = y_train
train_df.head()

,Date_ID,Month,NumberOfDaysInMonth,Quarter,Year,LeapYear,Minimum Temperature,Maximum Temperature,Barley,Canola,...,Quebec,Saskatchewan,Territories,Yukon,Atlantic_Region,British Columbia_Region,Canada_Region,Prairies_Region,Territories_Region,Total_Value
916,88,5,31,2,2008,1,3,29,False,True,...,True,False,False,False,False,False,True,False,False,1
6020,32,9,30,3,2003,0,5,30,False,False,...,False,False,False,False,False,False,False,True,False,1
7816,35,12,31,4,2003,0,5,34,False,False,...,False,False,False,False,False,True,False,False,False,1
4690,94,11,30,4,2008,1,3,29,False,True,...,False,True,False,False,False,False,False,True,False,2
4934,62,3,31,1,2006,0,5,34,False,False,...,False,True,False,False,False,False,False,True,False,1

In [213]:
# Homogenize the index values,
X_train.index = y_train.index
# Assign the columns.
train_df = X_train
train_df['Total_Value'] = y_train

# Homogenize the index values,
X_val.index = y_val.index
# Assign the columns
valid_df = X_val
valid_df['Total_Value'] = y_val

# Homogenize the index values,
X_test.index = y_test.index
# Assign the columns.
test_df = X_test
test_df['Total_Value'] = y_test

print(len(train_df))
print(len(valid_df))
print(len(test_df))

5578
1195
1196

In [214]:
train_df.to_csv('datasets/merged/training_dataset.csv') 
valid_df.to_csv('datasets/merged/validate_dataset.csv') 
test_df.to_csv('datasets/merged/test_dataset.csv')